models/schemas/editor/BUSDOCS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="topic">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element name="body" minOccurs="0">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="p"/>
							<xs:element ref="ul"/>
							<xs:element ref="ol"/>
							<xs:element ref="sl"/>
							<xs:element ref="fig"/>
							<xs:element ref="note"/>
							<xs:element ref="lq"/>
							<xs:element ref="table"/>
							<xs:element ref="simpletable"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element ref="topic" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="conref"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:group ref="title.content" minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="keep-with-next" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="p">
		<xs:complexType mixed="true">
			<xs:group ref="para.content" minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="keep-with-next" type="xs:boolean"/>
			<xs:attribute name="outputclass">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="boilerplate"/>
						<xs:enumeration value="example"/>
						<xs:enumeration value="placeholder"/>
						<xs:enumeration value="instruction"/>
						<xs:enumeration value="font-color"/>
						<xs:enumeration value="highlight-color"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ul">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="li" maxOccurs="unbounded">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:group ref="para.content" minOccurs="0" maxOccurs="unbounded"/>
							<xs:choice minOccurs="0">
								<xs:element ref="ul"/>
								<xs:element ref="ol"/>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="keep-with-next" type="xs:boolean"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ol">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="li" maxOccurs="unbounded">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:group ref="para.content" minOccurs="0" maxOccurs="unbounded"/>
							<xs:choice minOccurs="0">
								<xs:element ref="ul"/>
								<xs:element ref="ol"/>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="keep-with-next" type="xs:boolean"/>
						<xs:attribute name="outputclass"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sl">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sli" maxOccurs="unbounded">
					<xs:complexType mixed="true">
						<xs:group ref="para.content" minOccurs="0" maxOccurs="unbounded"/>
						<xs:attribute name="keep-with-next" type="xs:boolean"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="desc" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="image"/>
					<xs:element ref="foreign"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="conref" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="note">
		<xs:complexType>
			<xs:group ref="para.content" minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="conref" type="xs:string"/>
			<xs:attribute name="keep-with-next" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="lq">
		<xs:complexType>
			<xs:group ref="para.content" minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="reftitle" type="xs:string"/>
			<xs:attribute name="keep-with-next" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="foreign">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="mtef" type="xs:base64Binary" minOccurs="0"/>
				<xs:element name="mathML">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="math">
								<xs:complexType>
									<xs:sequence>
										<xs:any processContents="lax"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="image" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:base64Binary">
								<xs:attribute name="content-type" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="GIF"/>
											<xs:enumeration value="WMF"/>
											<xs:enumeration value="EPS_NONE"/>
											<xs:enumeration value="EPS_TIFF"/>
											<xs:enumeration value="EPS_WMF"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="conref" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:group name="title.content">
		<xs:choice>
			<xs:element name="ph">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="basic.ph"/>
						<xs:element ref="image"/>
						<xs:element ref="fn"/>
					</xs:choice>
					<xs:attribute name="outputclass" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="boilerplate"/>
								<xs:enumeration value="example"/>
								<xs:enumeration value="placeholder"/>
								<xs:enumeration value="instruction"/>
								<xs:enumeration value="font-color"/>
								<xs:enumeration value="highlight-color"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:group ref="hi-d-ph"/>
			<xs:element ref="term"/>
			<xs:element ref="q"/>
			<xs:element ref="keyword"/>
			<xs:element ref="tm"/>
			<xs:element ref="image"/>
			<xs:element ref="foreign"/>
		</xs:choice>
	</xs:group>
	<xs:group name="para.content">
		<xs:choice>
			<xs:group ref="basic.ph"/>
			<xs:element ref="image"/>
			<xs:element ref="foreign"/>
			<xs:element ref="fn"/>
		</xs:choice>
	</xs:group>
	<xs:group name="cite.content">
		<xs:choice>
			<xs:element name="ph">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="basic.ph"/>
						<xs:element ref="image"/>
						<xs:element ref="fn"/>
					</xs:choice>
					<xs:attribute name="outputclass" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="boilerplate"/>
								<xs:enumeration value="example"/>
								<xs:enumeration value="placeholder"/>
								<xs:enumeration value="instruction"/>
								<xs:enumeration value="font-color"/>
								<xs:enumeration value="highlight-color"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:group ref="hi-d-ph"/>
			<xs:element ref="term"/>
			<xs:element ref="q"/>
			<xs:element ref="keyword"/>
			<xs:element ref="tm"/>
		</xs:choice>
	</xs:group>
	<!--INLINE MARKUP-->
	<xs:group name="basic.ph">
		<xs:choice>
			<xs:element name="ph">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="basic.ph"/>
						<xs:element ref="image"/>
						<xs:element ref="fn"/>
					</xs:choice>
					<xs:attribute name="outputclass" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="boilerplate"/>
								<xs:enumeration value="example"/>
								<xs:enumeration value="placeholder"/>
								<xs:enumeration value="instruction"/>
								<xs:enumeration value="font-color"/>
								<xs:enumeration value="highlight-color"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:group ref="hi-d-ph"/>
			<xs:element ref="term"/>
			<xs:element ref="xref"/>
			<xs:element ref="cite"/>
			<xs:element ref="q"/>
			<xs:element ref="keyword"/>
			<xs:element ref="tm"/>
		</xs:choice>
	</xs:group>
	<xs:group name="hi-d-ph">
		<xs:choice>
			<xs:element ref="sup"/>
			<xs:element ref="sub"/>
			<xs:element ref="b"/>
			<xs:element ref="u"/>
			<xs:element ref="i"/>
		</xs:choice>
	</xs:group>
	<xs:element name="sup">
		<xs:complexType mixed="true">
			<xs:group ref="basic.ph" minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sub">
		<xs:complexType mixed="true">
			<xs:group ref="basic.ph" minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tt">
		<xs:complexType mixed="true">
			<xs:group ref="basic.ph" minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="b">
		<xs:complexType mixed="true">
			<xs:group ref="basic.ph" minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="u">
		<xs:complexType mixed="true">
			<xs:group ref="basic.ph" minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="i">
		<xs:complexType mixed="true">
			<xs:group ref="basic.ph" minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="term">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tm"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="xref">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="href" use="required"/>
					<xs:attribute name="format" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="dita"/>
								<xs:enumeration value="html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="cite">
		<xs:complexType mixed="true">
			<xs:group ref="cite.content" minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="q">
		<xs:complexType mixed="true">
			<xs:group ref="basic.ph" minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="keyword">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tm"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tm">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="trademark" type="xs:string"/>
					<xs:attribute name="tmowner" type="xs:string"/>
					<xs:attribute name="tmtype" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="tm"/>
								<xs:enumeration value="reg"/>
								<xs:enumeration value="service"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="tmclass" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="image">
		<xs:complexType>
			<xs:attribute name="href" type="xs:string" use="required"/>
			<xs:attribute name="width" type="xs:NMTOKEN" use="optional"/>
			<xs:attribute name="height" type="xs:NMTOKEN" use="optional"/>
			<xs:attribute name="align" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="center"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="scale" type="xs:NMTOKEN" use="optional"/>
			<xs:attribute name="scalefit" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="placement" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="inline"/>
						<xs:enumeration value="break"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="alt" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fn">
		<xs:complexType mixed="true">
			<xs:attribute name="callout" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<!--TABLES-->
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="desc" minOccurs="0"/>
				<xs:element name="tgroup">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="colspec" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="colnum" type="xs:integer" use="optional"/>
									<xs:attribute name="colname" type="xs:string" use="optional"/>
									<xs:attribute name="colwidth" type="xs:string" use="optional" default="1*"/>
									<xs:attribute name="rowsep" type="xs:integer" use="optional"/>
									<xs:attribute name="colsep" type="xs:integer" use="optional"/>
									<xs:attribute name="align" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="left"/>
												<xs:enumeration value="right"/>
												<xs:enumeration value="center"/>
												<xs:enumeration value="justify"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="thead" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="row" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="entry" maxOccurs="unbounded">
														<xs:complexType mixed="true">
															<xs:group ref="para.content" minOccurs="0" maxOccurs="unbounded"/>
															<xs:attribute name="colname" type="xs:string" use="optional"/>
															<xs:attribute name="namest" type="xs:string" use="optional"/>
															<xs:attribute name="nameend" type="xs:string" use="optional"/>
															<xs:attribute name="morerows" type="xs:integer" use="optional"/>
															<xs:attribute name="rowsep" type="xs:boolean" use="optional"/>
															<xs:attribute name="colsep" type="xs:boolean" use="optional"/>
															<xs:attribute name="align" use="optional">
																<xs:simpleType>
																	<xs:restriction base="xs:NMTOKEN">
																		<xs:enumeration value="left"/>
																		<xs:enumeration value="right"/>
																		<xs:enumeration value="center"/>
																		<xs:enumeration value="justify"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="valign" use="optional">
																<xs:simpleType>
																	<xs:restriction base="xs:NMTOKEN">
																		<xs:enumeration value="top"/>
																		<xs:enumeration value="middle"/>
																		<xs:enumeration value="bottom"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="valign" use="optional" default="bottom">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="top"/>
															<xs:enumeration value="middle"/>
															<xs:enumeration value="bottom"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="rowsep" type="xs:integer" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="valign" use="optional" default="bottom">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="top"/>
												<xs:enumeration value="middle"/>
												<xs:enumeration value="bottom"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="tbody">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="row" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="entry" maxOccurs="unbounded">
														<xs:complexType mixed="true">
															<xs:choice minOccurs="0" maxOccurs="unbounded">
																<xs:group ref="para.content"/>
																<xs:element ref="ul"/>
																<xs:element ref="ol"/>
																<xs:element ref="sl"/>
																<xs:element ref="fig"/>
																<xs:element ref="note"/>
																<xs:element ref="lq"/>
															</xs:choice>
															<xs:attribute name="colname" type="xs:string" use="optional"/>
															<xs:attribute name="namest" type="xs:string" use="optional"/>
															<xs:attribute name="nameend" type="xs:string" use="optional"/>
															<xs:attribute name="morerows" type="xs:integer" use="optional"/>
															<xs:attribute name="rowsep" type="xs:boolean" use="optional"/>
															<xs:attribute name="colsep" type="xs:boolean" use="optional"/>
															<xs:attribute name="align" use="optional">
																<xs:simpleType>
																	<xs:restriction base="xs:NMTOKEN">
																		<xs:enumeration value="left"/>
																		<xs:enumeration value="right"/>
																		<xs:enumeration value="center"/>
																		<xs:enumeration value="justify"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="valign" use="optional">
																<xs:simpleType>
																	<xs:restriction base="xs:NMTOKEN">
																		<xs:enumeration value="top"/>
																		<xs:enumeration value="middle"/>
																		<xs:enumeration value="bottom"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="outputclass" use="optional" default="0">
																<xs:annotation>
																	<xs:documentation>0=No Rotate, 1=Ascending, 2=Descending</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:enumeration value="0"/>
																		<xs:enumeration value="1"/>
																		<xs:enumeration value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="valign" use="optional" default="bottom">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="top"/>
															<xs:enumeration value="middle"/>
															<xs:enumeration value="bottom"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="rowsep" type="xs:integer" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="valign" use="optional" default="bottom">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="top"/>
												<xs:enumeration value="middle"/>
												<xs:enumeration value="bottom"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="cols" type="xs:integer" use="required"/>
						<xs:attribute name="colsep" type="xs:integer" use="optional"/>
						<xs:attribute name="rowsep" type="xs:integer" use="optional"/>
						<xs:attribute name="align" use="optional" default="left">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="left"/>
									<xs:enumeration value="right"/>
									<xs:enumeration value="center"/>
									<xs:enumeration value="justify"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="conref" type="xs:string"/>
			<xs:attribute name="frame" use="optional" default="all">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="all"/>
						<xs:enumeration value="top"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="topbot"/>
						<xs:enumeration value="sides"/>
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rowsep" type="xs:integer" use="optional" default="1"/>
			<xs:attribute name="colsep" type="xs:integer" use="optional" default="1"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="simpletable">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sthead" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="stentry" maxOccurs="unbounded">
								<xs:complexType mixed="true">
									<xs:group ref="para.content" minOccurs="0" maxOccurs="unbounded"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="strow" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="stentry" maxOccurs="unbounded">
								<xs:complexType mixed="true">
									<xs:group ref="para.content" minOccurs="0" maxOccurs="unbounded"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="conref" type="xs:string"/>
			<xs:attribute name="frame" use="optional" default="all">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="all"/>
						<xs:enumeration value="top"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="topbot"/>
						<xs:enumeration value="sides"/>
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="desc">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="basic.ph"/>
				<xs:element ref="image"/>
				<xs:element ref="foreign"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
