models/schemas/editor/DocConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp1 U (http://www.altova.com) by mvercelli (EMBRACE) -->
<xs:schema xmlns="urn:xpressauthor:docconfig" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:xpressauthor:docconfig" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DocConfig">
		<xs:complexType>
			<xs:all>
				<xs:element name="Menus" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="MenuBar" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CommandBars" minOccurs="0">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="CommandBar"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="Ribbon" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="customUI"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ShortcutKeys" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ShortcutKey" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:choice minOccurs="0" maxOccurs="unbounded">
										<xs:element ref="InternalClass"/>
										<xs:element ref="ExtensibilityMethod"/>
									</xs:choice>
									<xs:attribute name="key" type="xs:string" use="required"/>
									<xs:attribute name="shift" type="xs:boolean" use="optional"/>
									<xs:attribute name="ctrl" type="xs:boolean" use="optional"/>
									<xs:attribute name="alt" type="xs:boolean" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ExtensibilityInterface" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="MethodInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Method" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Argument" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:choice>
																<xs:element name="Token" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType mixed="true">
																		<xs:sequence>
																			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Delegate" minOccurs="0" maxOccurs="unbounded">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="GetNodeProperties"/>
																			<xs:enumeration value="GetPreviousNode"/>
																			<xs:enumeration value="GetNextNode"/>
																			<xs:enumeration value="GetXomNode"/>
																			<xs:enumeration value="GetExportedNode"/>
																			<xs:enumeration value="InsertNode"/>
																			<xs:enumeration value="DeleteNode"/>
																			<xs:enumeration value="AssignTextNode"/>
																			<xs:enumeration value="SelectNode"/>
																			<xs:enumeration value="SelectNodes"/>
																			<xs:enumeration value="InsertEmphasis"/>
																			<xs:enumeration value="GetToggleButtonState"/>
																			<xs:enumeration value="GetPreText"/>
																			<xs:enumeration value="GetPostText"/>
																			<xs:enumeration value="AssignPreText"/>
																			<xs:enumeration value="AssignPostText"/>
																			<xs:enumeration value="AssignDocVariable"/>
																			<xs:enumeration value="RefreshDocVariable"/>
																			<xs:enumeration value="RefreshDocVariables"/>
																			<xs:enumeration value="CreateContextMenu"/>
																			<xs:enumeration value="InvokeInternalClass"/>
																			<xs:enumeration value="InvokeMethodId"/>
																			<xs:enumeration value="UpdateAttributes"/>
																			<xs:enumeration value="IsEditableElement"/>
																			<xs:enumeration value="ToggleEditableRegion"/>
																			<xs:enumeration value="ShadeRegion"/>
																			<xs:enumeration value="BeginUndoRecording"/>
																			<xs:enumeration value="EndUndoRecording"/>
																			<xs:enumeration value="ReplaceNode"/>
																			<xs:enumeration value="GetPageNumber"/>
																			<xs:enumeration value="GetSectionMetadata"/>
																			<xs:enumeration value="GetXmlResolver"/>
																			<xs:enumeration value="SetXmlResolver"/>
																			<xs:enumeration value="GetExtensibleUserInterface"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:choice>
															<xs:attribute name="type" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="XomRoot"/>
																		<xs:enumeration value="XomCurrentNode"/>
																		<xs:enumeration value="XomSelectedNodes"/>
																		<xs:enumeration value="XomPreviousNode"/>
																		<xs:enumeration value="ExportedRoot"/>
																		<xs:enumeration value="ExportedCurrentNode"/>
																		<xs:enumeration value="ExportedCurrentNodeTree"/>
																		<xs:enumeration value="PasteNode"/>
																		<xs:enumeration value="DeleteNodes"/>
																		<xs:enumeration value="Filename"/>
																		<xs:enumeration value="UserName"/>
																		<xs:enumeration value="WordUserName"/>
																		<xs:enumeration value="DocumentType"/>
																		<xs:enumeration value="DocNumber"/>
																		<xs:enumeration value="Revision"/>
																		<xs:enumeration value="AccessMode"/>
																		<xs:enumeration value="StyleList"/>
																		<xs:enumeration value="ToggleState"/>
																		<xs:enumeration value="Tag"/>
																		<xs:enumeration value="Tokens"/>
																		<xs:enumeration value="Delegates"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="id" type="xs:ID" use="required"/>
												<xs:attribute name="assembly" type="xs:string" use="required"/>
												<xs:attribute name="class" type="xs:string" use="required"/>
												<xs:attribute name="method" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DocOpened" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Called when documents are opened. Called before the Initialize event</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="DocClosed" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Called just prior to closing a document.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Initialize" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Only called for documents with no binary data</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Activated" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Called when a document is created, opened or when the document window receives focus.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="InsertElementXom" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Not called for components attached via import, paste or InsertNode delegate.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="InsertElementUI" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Only called for the visible subset of InsertElementXom</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="InsertComponent" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Called following import, paste and InsertDelegate</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="BeforeComponentDelete" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ComponentDelete" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Save" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="UpdateAttributes" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Called when user clicks on the OK or Apply button in the Xpress internal attribute panel</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="BuildStyleList" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Called before display of the insertables list for the context menu or the style handler to filter off any unwanted items from the insertables</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="BeforePaste" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="RightClickPreText" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Event fired when user clicks on PreText portion of a visible element</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="RightClickPostText" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Event fired when user clicks on PostText portion of a visible element</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="AfterSave" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="DoubleClickHeaderFooter" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Event fired when user double-clicks within a non-editable header-footer region</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ExtensibilityMethod" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="accessMode" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="Portionmarks" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Portionmark" minOccurs="0" maxOccurs="2">
								<xs:complexType>
									<xs:attribute name="type" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="PreText"/>
												<xs:enumeration value="PostText"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="defaultDisplay" type="xs:boolean" use="optional"/>
									<xs:attribute name="styleName" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="addCellPortionmark" type="xs:boolean" default="false">
							<xs:annotation>
								<xs:documentation>Optional attribute that allows for enabling cell-level portionmark. Enabling this will degrade open/load performance, hence the default behvaior (if not present) is disabled.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReferenceShadingColor" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="FailedShadingColor">
								<xs:complexType>
									<xs:attribute name="color" type="xs:string"/>
									<xs:attribute name="red" type="xs:integer"/>
									<xs:attribute name="blue" type="xs:integer"/>
									<xs:attribute name="green" type="xs:integer"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="color" type="xs:string"/>
						<xs:attribute name="red" type="xs:integer"/>
						<xs:attribute name="green" type="xs:integer"/>
						<xs:attribute name="blue" type="xs:integer"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="AllowRestartContinueNumbering" type="xs:boolean" minOccurs="0"/>
				<xs:element name="DefaultSaveOptions" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="filter" type="xs:string" use="required"/>
						<xs:attribute name="transform" type="xs:string" use="optional"/>
						<xs:attribute name="allowLocalSave" type="xs:boolean" use="optional"/>
						<xs:attribute name="useWordDialog" type="xs:boolean" use="optional"/>
						<xs:attribute name="defaultFilepath" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ComponentCopy" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="transform" type="xs:string" use="optional"/>
						<xs:attribute name="getReferenceId" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Commenting" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Attribute" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Enumeration" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="value"/>
												<xs:attribute name="menuitem"/>
												<xs:attribute name="autotext"/>
												<xs:attribute name="default-enumeration"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="modify-access">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="author"/>
												<xs:enumeration value="reviewer"/>
												<xs:enumeration value="all"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="value-att"/>
									<xs:attribute name="author-att"/>
									<xs:attribute name="dateTime-att"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Break" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SectionBreak">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="restricted"/>
										<xs:enumeration value="unrestricted"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PageBreak">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="restricted"/>
										<xs:enumeration value="unrestricted"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AllowHeaderFooterEdit" type="xs:boolean" minOccurs="0"/>
				<xs:element name="AllowSoftLinebreaks" type="xs:boolean" minOccurs="0"/>
				<xs:element name="ShowInsertBeforeMenu" type="xs:boolean" minOccurs="0"/>
				<xs:element name="ShowInsertAfterMenu" type="xs:boolean" minOccurs="0"/>
				<xs:element name="ShowChangeToMenu" type="xs:boolean" minOccurs="0"/>
				<xs:element name="Reviewing" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="modelType" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OneNode"/>
									<xs:enumeration value="TwoNode"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="HiddenInsertables" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Specifies which empty should be used to calculate insertables when there are hidden elements between the visible nodes surrounding the currently selected empty</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="selectionStrategy" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="FirstHiddenElement">
										<xs:annotation>
											<xs:documentation>considers the empty between current top visible node and the first invisible node.</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="LastHiddenElement">
										<xs:annotation>
											<xs:documentation>considers the empty between the last invisible empty and current bottom visible node.</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="AllHiddenElements">
										<xs:annotation>
											<xs:documentation>considers all empties between every invisible element pairs and combines them into one insertable list.</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="MenuBar">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="MenuItem">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ShortcutKey" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="key" type="xs:string" use="required"/>
									<xs:attribute name="shift" type="xs:boolean" use="optional"/>
									<xs:attribute name="ctrl" type="xs:boolean" use="optional"/>
									<xs:attribute name="alt" type="xs:boolean" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:choice minOccurs="0" maxOccurs="unbounded">
								<xs:element ref="InternalClass"/>
								<xs:element ref="ExtensibilityMethod"/>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="resourceId" type="xs:string" use="optional"/>
						<xs:attribute name="resourceRef" type="xs:string" use="optional"/>
						<xs:attribute name="faceId" type="xs:string" use="optional"/>
						<xs:attribute name="accessMode" type="xs:string" use="optional"/>
						<xs:attribute name="position" type="xs:int" use="optional"/>
						<xs:attribute name="beginGroup" type="xs:boolean" use="optional"/>
						<xs:attribute name="toggle" type="xs:boolean" use="optional"/>
						<xs:attribute name="toggleGroup" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="MenuBar"/>
				<xs:element ref="WordControl"/>
			</xs:choice>
			<xs:attribute name="resourceId" type="xs:string" use="optional"/>
			<xs:attribute name="resourceRef" type="xs:string" use="optional"/>
			<xs:attribute name="position" type="xs:int" use="optional"/>
			<xs:attribute name="beginGroup" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandBar">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="MenuBar"/>
				<xs:element ref="CommandBarButton"/>
				<xs:element name="CommandBarComboBox">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="InternalClass"/>
						</xs:sequence>
						<xs:attribute name="resourceId" type="xs:string" use="required"/>
						<xs:attribute name="accessMode" type="xs:string" use="optional"/>
						<xs:attribute name="position" type="xs:int" use="optional"/>
						<xs:attribute name="width" type="xs:int" use="optional"/>
						<xs:attribute name="beginGroup" type="xs:boolean" use="optional"/>
						<xs:attribute name="tooltipResourceId" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="CommandBarPopup">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element ref="CommandBarButton"/>
							<xs:element ref="WordControl"/>
						</xs:choice>
						<xs:attribute name="resourceId" type="xs:string" use="required"/>
						<xs:attribute name="faceId" type="xs:string" use="optional"/>
						<xs:attribute name="accessMode" type="xs:string" use="optional"/>
						<xs:attribute name="position" type="xs:int" use="optional"/>
						<xs:attribute name="beginGroup" type="xs:boolean" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="WordControl"/>
				<xs:element name="Comment"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="InternalClass">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:anyAttribute namespace="##any" processContents="lax"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExtensibilityMethod">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="enableXPath" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WordControl">
		<xs:complexType>
			<xs:attribute name="controlId" type="xs:int" use="required"/>
			<xs:attribute name="beginGroup" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandBarButton">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ShortcutKey" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="key" type="xs:string" use="required"/>
						<xs:attribute name="shift" type="xs:boolean" use="optional"/>
						<xs:attribute name="ctrl" type="xs:boolean" use="optional"/>
						<xs:attribute name="alt" type="xs:boolean" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="InternalClass"/>
					<xs:element ref="ExtensibilityMethod"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="resourceId" type="xs:string" use="required"/>
			<xs:attribute name="faceId" type="xs:string" use="optional"/>
			<xs:attribute name="accessMode" type="xs:string" use="optional"/>
			<xs:attribute name="position" type="xs:int" use="optional"/>
			<xs:attribute name="beginGroup" type="xs:boolean" use="optional"/>
			<xs:attribute name="toggle" type="xs:boolean" use="optional"/>
			<xs:attribute name="toggleGroup" type="xs:string" use="optional"/>
			<xs:attribute name="tooltipResourceId" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_BoxStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="horizontal"/>
			<xs:enumeration value="vertical"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Delegate">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ID">
		<xs:restriction base="xs:NCName">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ItemSize">
		<xs:restriction base="xs:string">
			<xs:enumeration value="normal"/>
			<xs:enumeration value="large"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Keytip">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_LongString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4096"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_QID">
		<xs:restriction base="xs:QName">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Size">
		<xs:restriction base="xs:string">
			<xs:enumeration value="normal"/>
			<xs:enumeration value="large"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_String">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_UniqueID">
		<xs:restriction base="xs:ID">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Uri">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="AG_Action">
		<xs:attribute name="onAction" type="ST_Delegate" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_XACommonAttributes">
		<xs:attribute name="accessMode" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_Enabled">
		<xs:attribute name="enabled" type="xs:boolean" use="optional"/>
		<xs:attribute name="getEnabled" type="ST_Delegate" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_CommonAttributes">
		<xs:attributeGroup ref="AG_Enabled"/>
		<xs:attributeGroup ref="AG_XACommonAttributes"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_Description">
		<xs:attribute name="description" type="ST_LongString" use="optional"/>
		<xs:attribute name="getDescription" type="ST_Delegate" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_DropDownAttributes">
		<xs:attribute name="showItemImage" type="xs:boolean" use="optional"/>
		<xs:attribute name="getItemCount" type="ST_Delegate" use="optional"/>
		<xs:attribute name="getItemLabel" type="ST_Delegate" use="optional"/>
		<xs:attribute name="getItemScreentip" type="ST_Delegate" use="optional"/>
		<xs:attribute name="getItemSupertip" type="ST_Delegate" use="optional"/>
		<xs:attribute name="getItemImage" type="ST_Delegate" use="optional"/>
		<xs:attribute name="getItemID" type="ST_Delegate" use="optional"/>
		<xs:attribute name="sizeString" type="ST_String" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_IDCustom">
		<xs:attribute name="id" type="ST_UniqueID" use="optional"/>
		<xs:attribute name="idQ" type="ST_QID" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_IDMso">
		<xs:attribute name="idMso" type="ST_ID" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_Image">
		<xs:attribute name="image" type="ST_Uri" use="optional"/>
		<xs:attribute name="imageMso" type="ST_ID" use="optional"/>
		<xs:attribute name="getImage" type="ST_Delegate" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_Keytip">
		<xs:attribute name="keytip" type="ST_Keytip" use="optional"/>
		<xs:attribute name="getKeytip" type="ST_Delegate" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_Label">
		<xs:attribute name="label" type="ST_String" use="optional"/>
		<xs:attribute name="getLabel" type="ST_Delegate" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_PositionAttributes">
		<xs:attribute name="insertAfterMso" type="ST_ID" use="optional"/>
		<xs:attribute name="insertBeforeMso" type="ST_ID" use="optional"/>
		<xs:attribute name="insertAfterQ" type="ST_QID" use="optional"/>
		<xs:attribute name="insertBeforeQ" type="ST_QID" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_Screentip">
		<xs:attribute name="screentip" type="ST_String" use="optional"/>
		<xs:attribute name="getScreentip" type="ST_Delegate" use="optional"/>
		<xs:attribute name="supertip" type="ST_String" use="optional"/>
		<xs:attribute name="getSupertip" type="ST_Delegate" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_SizeAttributes">
		<xs:attribute name="size" type="ST_Size" use="optional"/>
		<xs:attribute name="getSize" type="ST_Delegate" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_Tag">
		<xs:attribute name="tag" type="ST_String" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_Title">
		<xs:attribute name="title" type="ST_String" use="optional"/>
		<xs:attribute name="getTitle" type="ST_Delegate" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_UIAttributes">
		<xs:attributeGroup ref="AG_CommonAttributes"/>
		<xs:attributeGroup ref="AG_Label"/>
		<xs:attributeGroup ref="AG_PositionAttributes"/>
		<xs:attributeGroup ref="AG_Visible"/>
		<xs:attributeGroup ref="AG_Keytip"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_ItemAttributes">
		<xs:attributeGroup ref="AG_Image"/>
		<xs:attributeGroup ref="AG_Screentip"/>
		<xs:attributeGroup ref="AG_UIAttributes"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_ControlAttributes">
		<xs:attributeGroup ref="AG_ItemAttributes"/>
		<xs:attribute name="showLabel" type="xs:boolean" use="optional"/>
		<xs:attribute name="getShowLabel" type="ST_Delegate" use="optional"/>
		<xs:attribute name="showImage" type="xs:boolean" use="optional"/>
		<xs:attribute name="getShowImage" type="ST_Delegate" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_IDAttributes">
		<xs:attributeGroup ref="AG_IDCustom"/>
		<xs:attributeGroup ref="AG_IDMso"/>
		<xs:attributeGroup ref="AG_Tag"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AG_Visible">
		<xs:attribute name="visible" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
					<xs:enumeration value="Word"/>
					<xs:enumeration value="XA"/>
					<xs:enumeration value="xa"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="CT_Command" mixed="false">
		<xs:sequence>
			<xs:element name="ShortcutKey" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="key" type="xs:string" use="required"/>
					<xs:attribute name="shift" type="xs:boolean" use="optional"/>
					<xs:attribute name="ctrl" type="xs:boolean" use="optional"/>
					<xs:attribute name="alt" type="xs:boolean" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="InternalClass"/>
				<xs:element ref="ExtensibilityMethod"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="AG_Action"/>
		<xs:attributeGroup ref="AG_Enabled"/>
		<xs:attributeGroup ref="AG_XACommonAttributes"/>
		<xs:attributeGroup ref="AG_IDMso"/>
		<xs:attributeGroup ref="AG_Visible"/>
	</xs:complexType>
	<xs:complexType name="CT_ControlBase">
		<xs:attributeGroup ref="AG_ControlAttributes"/>
	</xs:complexType>
	<xs:complexType name="CT_Control">
		<xs:complexContent>
			<xs:extension base="CT_ControlBase">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="ShortcutKey">
						<xs:complexType>
							<xs:attribute name="key" type="xs:string" use="required"/>
							<xs:attribute name="shift" type="xs:boolean" use="optional"/>
							<xs:attribute name="ctrl" type="xs:boolean" use="optional"/>
							<xs:attribute name="alt" type="xs:boolean" use="optional"/>
						</xs:complexType>
					</xs:element>
					<xs:element ref="InternalClass"/>
					<xs:element ref="ExtensibilityMethod"/>
				</xs:choice>
				<xs:attributeGroup ref="AG_IDAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_ButtonRegular">
		<xs:complexContent>
			<xs:extension base="CT_Control">
				<xs:attributeGroup ref="AG_Action"/>
				<xs:attributeGroup ref="AG_Description"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_Button">
		<xs:complexContent>
			<xs:extension base="CT_ButtonRegular">
				<xs:attributeGroup ref="AG_SizeAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_ControlCloneRegular">
		<xs:complexContent>
			<xs:restriction base="CT_Control">
				<xs:attribute name="id" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_ControlClone">
		<xs:complexContent>
			<xs:restriction base="CT_Button">
				<xs:attribute name="id" use="prohibited"/>
				<xs:attribute name="onAction" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_VisibleButton">
		<xs:complexContent>
			<xs:extension base="CT_ButtonRegular"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_ToggleButtonRegular">
		<xs:complexContent>
			<xs:extension base="CT_ButtonRegular">
				<xs:attribute name="getPressed" type="ST_Delegate" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_ToggleButton">
		<xs:complexContent>
			<xs:extension base="CT_ToggleButtonRegular">
				<xs:attributeGroup ref="AG_SizeAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_VisibleToggleButton">
		<xs:complexContent>
			<xs:extension base="CT_ToggleButtonRegular"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_CheckBox">
		<xs:complexContent>
			<xs:extension base="CT_ToggleButtonRegular"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_Item">
		<xs:attribute name="id" type="ST_UniqueID" use="optional"/>
		<xs:attribute name="label" type="ST_String" use="optional"/>
		<xs:attribute name="image" type="ST_Uri" use="optional"/>
		<xs:attribute name="imageMso" type="ST_ID" use="optional"/>
		<xs:attribute name="screentip" type="ST_String" use="optional"/>
		<xs:attribute name="supertip" type="ST_String" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CT_DropDownRegular">
		<xs:complexContent>
			<xs:extension base="CT_Control">
				<xs:sequence>
					<xs:element name="item" type="CT_Item" minOccurs="0" maxOccurs="1000"/>
					<xs:element name="button" type="CT_ButtonRegular" minOccurs="0" maxOccurs="16"/>
				</xs:sequence>
				<xs:attributeGroup ref="AG_Action"/>
				<xs:attributeGroup ref="AG_DropDownAttributes"/>
				<xs:attribute name="getSelectedItemID" type="ST_Delegate" use="optional"/>
				<xs:attribute name="getSelectedItemIndex" type="ST_Delegate" use="optional"/>
				<xs:attribute name="showItemLabel" type="xs:boolean" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="EG_MenuControlsBase">
		<xs:choice>
			<xs:element name="control" type="CT_ControlCloneRegular"/>
			<xs:element name="button" type="CT_ButtonRegular"/>
			<xs:element name="checkBox" type="CT_CheckBox"/>
			<xs:element name="toggleButton" type="CT_ToggleButtonRegular"/>
			<xs:element name="menuSeparator" type="CT_MenuSeparator"/>
		</xs:choice>
	</xs:group>
	<xs:group name="EG_MenuOrSplitButtonRegular">
		<xs:choice>
			<xs:element name="splitButton" type="CT_SplitButtonRegular"/>
			<xs:element name="menu" type="CT_MenuRegular"/>
		</xs:choice>
	</xs:group>
	<xs:group name="EG_MenuOrSplitButtonWithTitle">
		<xs:choice>
			<xs:element name="splitButton" type="CT_SplitButtonWithTitle"/>
			<xs:element name="menu" type="CT_MenuWithTitle"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="CT_OfficeMenu">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="1000">
				<xs:group ref="EG_MenuControlsBase"/>
				<xs:group ref="EG_MenuOrSplitButtonWithTitle"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_MenuRegular">
		<xs:complexContent>
			<xs:extension base="CT_ControlBase">
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="1000">
						<xs:group ref="EG_MenuControlsBase"/>
						<xs:group ref="EG_MenuOrSplitButtonRegular"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="itemSize" type="ST_ItemSize" use="optional"/>
				<xs:attributeGroup ref="AG_Description"/>
				<xs:attributeGroup ref="AG_IDAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_MenuWithTitle">
		<xs:complexContent>
			<xs:extension base="CT_ControlBase">
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="1000">
						<xs:group ref="EG_MenuControlsBase"/>
						<xs:group ref="EG_MenuOrSplitButtonWithTitle"/>
					</xs:choice>
				</xs:sequence>
				<xs:attributeGroup ref="AG_IDAttributes"/>
				<xs:attribute name="itemSize" type="ST_ItemSize" use="optional"/>
				<xs:attributeGroup ref="AG_Title"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_Menu">
		<xs:complexContent>
			<xs:extension base="CT_MenuRegular">
				<xs:attributeGroup ref="AG_SizeAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_SplitButtonBase">
		<xs:complexContent>
			<xs:extension base="CT_Control"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_SplitButtonRestricted">
		<xs:complexContent>
			<xs:extension base="CT_SplitButtonBase"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_SplitButtonRegular">
		<xs:complexContent>
			<xs:extension base="CT_SplitButtonRestricted">
				<xs:sequence minOccurs="0">
					<xs:choice minOccurs="0">
						<xs:element name="button" type="CT_VisibleButton"/>
						<xs:element name="toggleButton" type="CT_VisibleToggleButton"/>
					</xs:choice>
					<xs:element name="menu" type="CT_MenuRegular"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_SplitButtonWithTitle">
		<xs:complexContent>
			<xs:extension base="CT_SplitButtonRestricted">
				<xs:sequence minOccurs="0">
					<xs:choice minOccurs="0">
						<xs:element name="button" type="CT_VisibleButton"/>
						<xs:element name="toggleButton" type="CT_VisibleToggleButton"/>
					</xs:choice>
					<xs:element name="menu" type="CT_MenuWithTitle"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CT_SplitButton">
		<xs:complexContent>
			<xs:extension base="CT_SplitButtonRegular">
				<xs:attributeGroup ref="AG_SizeAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="EG_Controls">
		<xs:choice>
			<xs:element name="control" type="CT_ControlClone"/>
			<xs:element name="button" type="CT_Button"/>
			<xs:element name="toggleButton" type="CT_ToggleButton"/>
			<xs:element name="checkBox" type="CT_CheckBox"/>
			<xs:element name="dropDown" type="CT_DropDownRegular"/>
			<xs:element name="menu" type="CT_Menu"/>
			<xs:element name="splitButton" type="CT_SplitButton"/>
			<xs:element name="box" type="CT_Box"/>
			<xs:element name="buttonGroup" type="CT_ButtonGroup"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="CT_DialogLauncher">
		<xs:sequence>
			<xs:element name="button" type="CT_ButtonRegular"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Box">
		<xs:group ref="EG_Controls" minOccurs="0" maxOccurs="1000"/>
		<xs:attributeGroup ref="AG_IDCustom"/>
		<xs:attributeGroup ref="AG_Visible"/>
		<xs:attributeGroup ref="AG_PositionAttributes"/>
		<xs:attribute name="boxStyle" type="ST_BoxStyle" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CT_Separator">
		<xs:attributeGroup ref="AG_IDCustom"/>
		<xs:attributeGroup ref="AG_Visible"/>
		<xs:attributeGroup ref="AG_PositionAttributes"/>
	</xs:complexType>
	<xs:complexType name="CT_MenuSeparator">
		<xs:attributeGroup ref="AG_IDCustom"/>
		<xs:attributeGroup ref="AG_PositionAttributes"/>
		<xs:attributeGroup ref="AG_Title"/>
	</xs:complexType>
	<xs:complexType name="CT_ButtonGroup">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="1000">
				<xs:element name="control" type="CT_ControlCloneRegular"/>
				<xs:element name="button" type="CT_ButtonRegular"/>
				<xs:element name="toggleButton" type="CT_ToggleButtonRegular"/>
				<xs:element name="menu" type="CT_MenuRegular"/>
				<xs:element name="splitButton" type="CT_SplitButtonRegular"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="AG_IDCustom"/>
		<xs:attributeGroup ref="AG_Visible"/>
		<xs:attributeGroup ref="AG_PositionAttributes"/>
	</xs:complexType>
	<xs:complexType name="CT_Group">
		<xs:sequence>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="1000">
					<xs:group ref="EG_Controls"/>
					<xs:element name="separator" type="CT_Separator"/>
				</xs:choice>
			</xs:sequence>
			<xs:element name="dialogBoxLauncher" type="CT_DialogLauncher" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AG_IDAttributes"/>
		<xs:attributeGroup ref="AG_Label"/>
		<xs:attributeGroup ref="AG_Image"/>
		<xs:attributeGroup ref="AG_PositionAttributes"/>
		<xs:attributeGroup ref="AG_Screentip"/>
		<xs:attributeGroup ref="AG_Visible"/>
		<xs:attributeGroup ref="AG_Keytip"/>
	</xs:complexType>
	<xs:complexType name="CT_Tab">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="100">
				<xs:element name="group" type="CT_Group"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="AG_IDAttributes"/>
		<xs:attributeGroup ref="AG_Label"/>
		<xs:attributeGroup ref="AG_PositionAttributes"/>
		<xs:attributeGroup ref="AG_Visible"/>
		<xs:attributeGroup ref="AG_Keytip"/>
	</xs:complexType>
	<xs:complexType name="CT_Tabs">
		<xs:sequence>
			<xs:element name="tab" type="CT_Tab" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_TabSet">
		<xs:sequence>
			<xs:element name="tab" type="CT_Tab" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
		<xs:attribute name="idMso" type="ST_ID" use="required"/>
		<xs:attributeGroup ref="AG_Visible"/>
	</xs:complexType>
	<xs:complexType name="CT_ContextualTabs">
		<xs:sequence>
			<xs:element name="tabSet" type="CT_TabSet" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Ribbon">
		<xs:all>
			<xs:element name="officeMenu" type="CT_OfficeMenu" minOccurs="0"/>
			<xs:element name="tabs" type="CT_Tabs" minOccurs="0"/>
			<xs:element name="contextualTabs" type="CT_ContextualTabs" minOccurs="0"/>
		</xs:all>
		<xs:attribute name="startFromScratch" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CT_Commands">
		<xs:sequence>
			<xs:element name="command" type="CT_Command" maxOccurs="5000"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_CustomUI">
		<xs:sequence>
			<xs:element name="commands" type="CT_Commands" minOccurs="0"/>
			<xs:element name="ribbon" type="CT_Ribbon" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="onLoad" type="ST_Delegate" use="optional"/>
		<xs:attribute name="loadImage" type="ST_Delegate" use="optional"/>
	</xs:complexType>
	<xs:element name="customUI" type="CT_CustomUI"/>
	<!-- Word 2007 ribbon elements - end -->
</xs:schema>
