models/schemas/external/soextblx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:db="http://www.oasis-open.org/docbook/xmlschema/4.1.2" xmlns:xd="http://www.oecd.org/ns/schema/xdocs" elementFormDefault="qualified" attributeFormDefault="unqualified" id="soextblx">

	<xs:annotation>
		<xs:documentation><section xmlns="http://docbook.org/ns/docbook">
				<title>OECD Schemas</title>
				<subtitle>OASIS Open Exchange Table Model</subtitle>
				<info>An up-to-date implementation by the OECD</info>
				<revhistory>
					<title>Change Log</title>
					<revision>
						<revnumber>1</revnumber>
						<date>2012-04-23</date>
						<authorinitials>JC</authorinitials>
						<revremark>Initial Version.</revremark>
					</revision>
					<revision>
						<revnumber>2</revnumber>
						<date>2012-04-23</date>
						<authorinitials>JC</authorinitials>
						<remark>
							<remark>removed @bodyatt as no need for for backward compatibility with the SGML model</remark>
							<remark>removed tbl.tgroup.att</remark>
							<remark>removed tbl.colspec.att</remark>
							<remark>removed tbl.head.att</remark>
							<remark>removed tbl.tbody.att</remark>
							<remark>removed tbl.row.att</remark>
							<remark>added attribute heading to entry</remark>
							<remark>Table.Title removed min 0</remark>
							<remark>Table.Title changed from choice to seq</remark>
							<remark>Table.Title removed mixed content model</remark>
							<remark>renamed title element titles to allow extension</remark>
						</remark>
					</revision>
					<revision>
						<revnumber>3</revnumber>
						<date>2012-10-25</date>
						<authorinitials>JC</authorinitials>
						<remark>
							<remark>Included meta.xsd and added reference to GLOBAL metadata element.</remark>
						</remark>
					</revision>
				</revhistory>
			</section>
		</xs:documentation>
	</xs:annotation>

	<xs:include schemaLocation="../components/meta.xsd"/>

	<xs:complexType name="Table">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<revision>
						<revnumber>1</revnumber>
						<date>2011-10-25</date>
						<author>JC</author>
						<revremark>Added metadata to the table sequence of complexType Table.</revremark>
					</revision>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="metadata" minOccurs="0"/>
			<xs:element name="titles" type="Table.Title" minOccurs="0"/>
			<xs:element name="tgroup" type="Table.Tgroup" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="colsep" type="Table.Colsep"/>
		<xs:attribute name="rowsep" type="Table.Rowsep"/>
		<xs:attribute name="frame" type="Table.Frame"/>
		<xs:attribute name="pgwide" type="Table.Pgwide"/>
	</xs:complexType>

	<xs:complexType name="Table.Title">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="Table.Tgroup">
		<xs:sequence>
			<xs:element name="colspec" type="Table.Colspec" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="thead" type="Table.Thead" minOccurs="0"/>
			<xs:element name="tbody" type="Table.Tbody"/>
		</xs:sequence>
		<xs:attribute name="cols" type="Table.Cols" use="required"/>
		<xs:attribute name="colsep" type="Table.Colsep"/>
		<xs:attribute name="rowsep" type="Table.Rowsep"/>
		<xs:attribute name="align" type="Table.Align"/>
	</xs:complexType>

	<xs:complexType name="Table.Colspec">
		<xs:attribute name="colnum" type="Table.Colnum"/>
		<xs:attribute name="colname" type="Table.Colname"/>
		<xs:attribute name="colwidth" type="Table.Colwidth"/>
		<xs:attribute name="colsep" type="Table.Colsep"/>
		<xs:attribute name="rowsep" type="Table.Rowsep"/>
		<xs:attribute name="align" type="Table.Align"/>
		<xs:attribute name="char" type="Table.Char"/>
		<xs:attribute name="charoff" type="Table.Charoff"/>
	</xs:complexType>

	<xs:complexType name="Table.Thead">
		<xs:sequence>
			<xs:element name="row" type="Table.Row" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="valign" type="Table.Valign"/>
	</xs:complexType>

	<xs:complexType name="Table.Tbody">
		<xs:sequence>
			<xs:element name="row" type="Table.Row" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="valign" type="Table.Valign"/>
	</xs:complexType>

	<xs:complexType name="Table.Row">
		<xs:sequence>
			<xs:element name="entry" type="Table.Entry" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="rowsep" type="Table.Rowsep"/>
		<xs:attribute name="valign" type="Table.Valign"/>
	</xs:complexType>

	<xs:complexType name="Table.Entry">
		<xs:choice/>
		<xs:attribute name="colname" type="Table.Colname"/>
		<xs:attribute name="namest" type="Table.Namest"/>
		<xs:attribute name="nameend" type="Table.Nameend"/>
		<xs:attribute name="morerows" type="Table.Morerows"/>
		<xs:attribute name="colsep" type="Table.Colsep"/>
		<xs:attribute name="rowsep" type="Table.Rowsep"/>
		<xs:attribute name="align" type="Table.Align"/>
		<xs:attribute name="char" type="Table.Char"/>
		<xs:attribute name="charoff" type="Table.Charoff"/>
		<xs:attribute name="valign" type="Table.Valign"/>
		<xs:attribute name="heading" type="Table.Heading"/>
	</xs:complexType>

	<xs:simpleType name="Table.Colnum">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>

	<xs:simpleType name="Table.Colname">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>

	<xs:simpleType name="Table.Colwidth">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="Table.Colsep">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>

	<xs:simpleType name="Table.Rowsep">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>

	<xs:simpleType name="Table.Align">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="left"/>
			<xs:enumeration value="right"/>
			<xs:enumeration value="center"/>
			<xs:enumeration value="justify"/>
			<xs:enumeration value="char"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Table.Char">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>

	<xs:simpleType name="Table.Charoff">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>

	<xs:simpleType name="Table.Namest">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>

	<xs:simpleType name="Table.Nameend">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>

	<xs:simpleType name="Table.Morerows">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>

	<xs:simpleType name="Table.Valign">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="top"/>
			<xs:enumeration value="middle"/>
			<xs:enumeration value="bottom"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Table.Frame">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="top"/>
			<xs:enumeration value="bottom"/>
			<xs:enumeration value="topbot"/>
			<xs:enumeration value="all"/>
			<xs:enumeration value="sides"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Table.Pgwide">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>

	<xs:simpleType name="Table.Cols">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>

	<xs:simpleType name="Table.Heading">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
</xs:schema>
