models/schemas/components/graphics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:svg="http://www.w3.org/2000/svg" elementFormDefault="qualified">


	<xs:annotation>
		<xs:documentation><section xmlns="http://docbook.org/ns/docbook">
				<title>OECD Schemas</title>
				<subtitle>Graphic Models</subtitle>
				<revhistory>
					<title>Change Log</title>
					<revision>
						<revnumber>1</revnumber>
						<date>2011-12-02</date>
						<author><email>nicg@corbas.co.uk</email><personname>Nic Gibson</personname></author>
						<revremark>Initial Version</revremark>
					</revision>
					<revision>
						<revnumber>2</revnumber>
						<date>2012-04-13</date>
						<authorinitials>NG</authorinitials>
						<revremark>Added annotations attribute</revremark>
					</revision>
					<revision>
						<revnumber>3</revnumber>
						<date>2012-08-02</date>
						<authorinitials>NG</authorinitials>
						<revremark>Modified oecdBlockGraphicType and oecdInlineGraphicType to allow for multiple renditions.</revremark>
					</revision>
					<revision>
						<revnumber>4</revnumber>
						<date>2012-10-05</date>
						<authorinitials>NG</authorinitials>
						<revremark>Wrapped global attributes in groups to avoid namespace prefix requirement.</revremark>
					</revision>
					<revision>
						<revnumber>5</revnumber>
						<date>2012-10-25</date>
						<authorinitials>NG</authorinitials>
						<revdescription>
							<para>Replaced attribution with sources in the <link linkend="oecdBlockGraphicTypeContent">oecdBlockGraphicTypeContent</link> group for consistency across model.</para>
							<para>Replaced attribution with sources in the <link linkend="oecdInlineGraphicTypeContent">oecdInlineGraphicTypeContent</link> group for consistency across model.</para>
							<para>Added sources to <link linkend="oecdFigureTypeContent">oecdFigureTypeContent</link> and an schematron assertion to ensure that the sources are not on the graphic
								element of a figure. </para></revdescription>
					</revision>
				</revhistory>
			</section></xs:documentation>
	</xs:annotation>

	<!-- INCLUDES AND IMPORTS -->

	<xs:include schemaLocation="attributes.xsd"/>
	<xs:include schemaLocation="types.xsd"/>
	<xs:include schemaLocation="meta.xsd"/>
	<xs:include schemaLocation="titles.xsd"/>
	<xs:include schemaLocation="notes.xsd"/>
	<xs:include schemaLocation="sources.xsd"/>


	<!-- GLOBAL ELEMENTS -->
	<xs:element name="external-graphic" type="oecdExternalGraphicType" id="externalGraphic"/>
	<xs:element name="svg-graphic" type="oecdSvgGraphicType" id="svgGraphic"/>

	<xs:element name="inline-graphic" type="oecdInlineGraphicType" id="inlineGraphic"/>
	<xs:element name="graphic" type="oecdBlockGraphicType" id="graphic"/>

	<xs:element name="figure" type="oecdFigureType" id="figure"/>

	<!-- GLOBAL GROUPS -->
	<xs:group name="oecdGraphicsGroup" id="oecdGraphicsGroup">
		<xs:choice>
			<xs:element ref="external-graphic"/>
			<xs:element ref="svg-graphic"/>
		</xs:choice>
	</xs:group>


	<!-- Graphic Object -->
	<xs:complexType name="oecdGraphicType" id="oecdGraphicType">
		<xs:sequence>
			<xs:element ref="metadata" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- External Graphic References -->

	<xs:attributeGroup name="oecdExternalGraphicTypeAttributes" id="oecdExternalGraphicTypeAttributes">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<revision>
						<revnumber>2</revnumber>
						<date>2012-04-13</date>
						<authorinitials>NG</authorinitials>
						<revremark>Added annotations attribute</revremark>
					</revision>
					<para>Attributes for external graphics. Grouped to allow easy override.</para>
				</section>
			</xs:documentation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<title>TODO</title>
					<para>Schematron required to ensure that at least one appropriate attribute is set.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="oecdCommonAttributes"/>
		<xs:attributeGroup ref="oecdLinkingAttributes"/>
		<xs:attributeGroup ref="MEDIATYPE-GROUP"/>
		<xs:attributeGroup ref="ANNOTATIONS-GROUP"/>
	</xs:attributeGroup>

	<xs:group name="oecdExternalGraphicTypeContent" id="oecdExternalGraphicTypeContent">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<para>Content for external graphics. Grouped to allow easy override.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="metadata" minOccurs="0"/>
		</xs:sequence>
	</xs:group>


	<xs:complexType name="oecdExternalGraphicType" id="oecdExternalGraphicType">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<revision>
						<revnumber>2</revnumber>
						<date>2012-04-13</date>
						<authorinitials>NG</authorinitials>
						<revremark>Added annotations attribute</revremark>
					</revision>
					<para>External graphic reference. The graphic reference is an attribute. Only metadata content is allowed.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:group ref="oecdExternalGraphicTypeContent"/>
		<xs:attributeGroup ref="oecdExternalGraphicTypeAttributes"/>
	</xs:complexType>

	<!-- svg graphic -->
	<xs:attributeGroup name="oecdSvgGraphicTypeAttributes" id="oecdSvgGraphicTypeAttributes">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<revision>
						<revnumber>2</revnumber>
						<date>2012-04-13</date>
						<authorinitials>NG</authorinitials>
						<revremark>Added annotations attribute</revremark>
					</revision>
					<para>Attributes for SVG graphics. Grouped to allow easy override.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="oecdCommonAttributes"/>
		<xs:attributeGroup ref="oecdLinkingAttributes"/>
		<xs:attributeGroup ref="ANNOTATIONS-GROUP"/>
	</xs:attributeGroup>

	<xs:group name="oecdSvgGraphicTypeContent" id="oecdSvgGraphicTypeContent">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<revhistory>
						<title>Change Log</title>
						<revision>
							<revnumber>1</revnumber>
							<date>2012-11-09</date>
							<author/>
							<revdescription>changed processing model to lax, until we can assure the quality of the SVG content.</revdescription>
						</revision>
					</revhistory>
				</section>
				<section xmlns="http://docbook.org/ns/docbook">
					<para>Content for SVG graphics. Grouped to allow easy override.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="http://www.w3.org/2000/svg" processContents="lax"/>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="oecdSvgGraphicType" id="oecdSvgGraphicType">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<para>Wrapper for SVG graphics.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:group ref="oecdSvgGraphicTypeContent"/>
		<xs:attributeGroup ref="oecdSvgGraphicTypeAttributes"/>
	</xs:complexType>

	<!-- block graphics -->
	<xs:attributeGroup name="oecdBlockGraphicTypeAttributes" id="oecdBlockGraphicTypeAttributes">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<para>Attributes for block graphics. Grouped to allow easy override.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="oecdCommonAttributes"/>
		<xs:attributeGroup ref="oecdLinkingAttributes"/>
	</xs:attributeGroup>

	<xs:group name="oecdBlockGraphicTypeContent" id="oecdBlockGraphicTypeContent">
		<xs:annotation>
			<xs:documentation>
				<revhistory>
					<title>Change Log</title><revision>
						<revnumber>3</revnumber>
						<date>2012-08-02</date>
						<authorinitials>NG</authorinitials>
						<revremark>Modified reference to oecdGraphicsGroup to make it unbounded allowing for multiple renditions. The sequential order of renditions should be taken as a preference
							order.</revremark>
					</revision>
					<revision>
						<revnumber>5</revnumber>
						<date>2012-10-25</date>
						<authorinitials>NG</authorinitials>
						<revremark> Replaced attribution with sources for consistency across model.</revremark>
					</revision>
				</revhistory>
				<section xmlns="http://docbook.org/ns/docbook">
					<para>Content for block graphics. Grouped to allow easy override.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="metadata" minOccurs="0"/>
			<xs:group ref="oecdTitleGroup" minOccurs="0"/>
			<xs:element ref="caption" minOccurs="0"/>
			<xs:element ref="sources" minOccurs="0"/>
			<xs:group ref="oecdGraphicsGroup" maxOccurs="unbounded"/>
			<xs:element ref="notes" minOccurs="0"/>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="oecdBlockGraphicType" id="oecdBlockGraphicType">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<para>Block graphic type.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:group ref="oecdBlockGraphicTypeContent"/>
		<xs:attributeGroup ref="oecdBlockGraphicTypeAttributes"/>
	</xs:complexType>

	<!-- inline graphics -->

	<xs:attributeGroup name="oecdInlineGraphicTypeAttributes" id="oecdInlineGraphicTypeAttributes">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<para>Attributes for inline graphics. Grouped to allow easy override.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="oecdCommonAttributes"/>
		<xs:attributeGroup ref="oecdLinkingAttributes"/>
	</xs:attributeGroup>

	<xs:group name="oecdInlineGraphicTypeContent" id="oecdInlineGraphicTypeContent">
		<xs:annotation>
			<xs:documentation>
				<revhistory>
					<title>Change Log</title><revision>
						<revnumber>3</revnumber>
						<date>2012-08-02</date>
						<authorinitials>NG</authorinitials>
						<revremark>Modified reference to oecdGraphicsGroup to make it unbounded allowing for multiple renditions. The sequential order of renditions should be taken as a preference
							order.</revremark>
					</revision>
					<revision>
						<revnumber>5</revnumber>
						<date>2012-10-25</date>
						<authorinitials>NG</authorinitials>
						<revremark> Replaced attribution with sources for consistency across model.</revremark>
					</revision>
				</revhistory>
				<section xmlns="http://docbook.org/ns/docbook">
					<para>Content for inline graphics. Grouped to allow easy override.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="metadata" minOccurs="0"/>
			<xs:element ref="sources" minOccurs="0"/>
			<xs:group ref="oecdGraphicsGroup" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="oecdInlineGraphicType" id="oecdInlineGraphicType">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<para>Block graphic type. This has a considerably more restricted model than a block graphic.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:group ref="oecdInlineGraphicTypeContent"/>
		<xs:attributeGroup ref="oecdInlineGraphicTypeAttributes"/>
	</xs:complexType>

	<!-- figures -->

	<xs:attributeGroup name="oecdFigureTypeAttributes" id="oecdFigureTypeAttributes">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<para>Attributes for figures. Grouped to allow easy override.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="oecdCommonAttributes"/>
		<xs:attributeGroup ref="oecdLinkingAttributes"/>
	</xs:attributeGroup>

	<xs:group name="oecdFigureTypeContent" id="oecdFigureTypeContent">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<para>Content for figures. Grouped to allow easy override.</para>
					<revhistory>
						<revision>
							<revnumber>5</revnumber>
							<date>2012-10-25</date>
							<authorinitials>NG</authorinitials>
							<revremark> Added sources to figure element. Added schematron assertion to require that the embedded graphic did not have sources.</revremark>
						</revision>
					</revhistory>
				</section>
			</xs:documentation>

			<xs:appinfo>
				<assert xmlns="http://purl.oclc.org/dsdl/schematron" test="not(graphic/sources)">Source information must not be present on graphics within figures. It should be placed on the figure
					instead.</assert>
			</xs:appinfo>

		</xs:annotation>
		<xs:sequence>
			<xs:element ref="metadata" minOccurs="0"/>
			<xs:group ref="oecdTitleGroup" minOccurs="0"/>
			<xs:element ref="sources" minOccurs="0"/>
			<xs:element ref="graphic"/>
			<xs:element ref="notes" minOccurs="0"/>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="oecdFigureType" id="oecdFigureType">
		<xs:annotation>
			<xs:documentation>
				<section xmlns="http://docbook.org/ns/docbook">
					<para>Figure Type. Figures are essentially wrappers around block graphics allowing titles and notes to be added.</para>
				</section>
			</xs:documentation>
		</xs:annotation>
		<xs:group ref="oecdFigureTypeContent"/>
		<xs:attributeGroup ref="oecdFigureTypeAttributes"/>
	</xs:complexType>


</xs:schema>
