models/schemas/catalogue/component-catalogue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
        Project: OECD.Author
        Module: $RCSfile: component-catalogue.xsd,v $
        Version: $Revision: 1.00 $
        Date: $Date: 2012/03/07 14:31:41 $
        Description: Defines all components allowed in official documents and publications.
        Programmer: J.W Crowther
        Language: W3C Schema
        Date started: 20120307
        Copyright: © OECD 2012
        Currently supports:
        - official documents
        - publications
        Notes:
        *Initial Release*
        JWC20120307 Added.
        -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation xmlns="http://www.corbas.co.uk/ns/model" xmlns:xd="http://www.oecd.org/ns/schema/xdocs"
      xmlns:db="http://docbook.org/ns/docbook" xmlns:s="http://www.ascc.net/xml/schematron"
      xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:svg="http://www.w3.org/2000/svg" xmlns:rng="http://relaxng.org/ns/structure/1.0"
      xmlns:mml="http://www.w3.org/1998/Math/MathML" xmlns:html="http://www.w3.org/1999/xhtml"
      xmlns:ctrl="http://nwalsh.com/xmlns/schema-control/">
      <xs:appinfo>
         <xd:name>Component Catalogue</xd:name>
         <xd:root>document</xd:root>
      </xs:appinfo>
      <xs:documentation>
         <xd:p>The Component Catalogue is a comprehensive list of all the components used in narrative models
            for capturing official OECD documents and publications. To date, it supports all documents and
            camera-ready and typset publications.</xd:p>
      </xs:documentation>
   </xs:annotation>
   <xs:element name="document" type="document"/>
   <xs:complexType name="volume">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>publishing</xd:p>
            </xd:section> Volume publishing <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>Volumes exist purely for the purposes of publishing content in printed form, most notably
                  the Model Tax Convention.</xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Version</xd:title>
               <xd:p>Revision (No. 1) – Date: 2012-03-27 – Author: JWC – </xd:p>
               <xd:p>Revision (No. 2) – Date: 2012-04-02 – Author: NG – Description: Updated to match schema
                  model as it's more precise.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="metadata-group" type="metadata-group"/>
            <xs:element name="part" type="part"/>
            <xs:element name="chapter" type="chapter"/>
            <xs:element name="bibliography" type="bibliography"/>
            <xs:element name="index" type="index"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simple-agenda">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Agenda semantic </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="simple-para" type="simple-para"/>
            <xs:element name="agenda-item" type="agenda-item"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="advanced-agenda">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Agenda semantic </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="simple-para" type="simple-para"/>
            <xs:element name="agenda-session" type="agenda-session"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="article">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>document</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="metadata-group" type="metadata-group"/>
            <xs:element name="foreword" type="foreword"/>
            <xs:element name="preface" type="preface"/>
            <xs:element name="acknowledgement" type="acknowledgement"/>
            <xs:element name="section" type="section"/>
            <xs:element name="abstract" type="abstract"/>
            <xs:element name="notes" type="notes"/>
            <xs:element name="bibliography" type="bibliography"/>
            <xs:element name="appendix" type="appendix"/>
            <xs:element name="annex" type="annex"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="document">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>document</xd:p>
            </xd:section> Document document Notes There are likely to be many document elements, one for each
            model. They may be distinguished by name or namespace or both. The elements listed here are simply
            children of the document and do not represent any concrete model. <xd:section
               xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Version</xd:title>
               <xd:p>Revision (No. 1) – Date: 2012-02-25 – Author: JC – Description: Removed abstract as per
                  the BC/TC agreement 05/02/2013. It was agreed that document abstracts would be managed in
                  the metadata-group.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="metadata-group" type="metadata-group"/>
            <xs:element name="foreword" type="foreword"/>
            <xs:element name="preface" type="preface"/>
            <xs:element name="executive-summary" type="executive-summary"/>
            <xs:element name="part" type="part"/>
            <xs:element name="chapter" type="chapter"/>
            <xs:element name="section" type="section"/>
            <xs:element name="introduction" type="introduction"/>
            <xs:element name="glossary" type="glossary"/>
            <xs:element name="abbreviation-list" type="abbreviation-list"/>
            <xs:element name="recommendation" type="recommendation"/>
            <xs:element name="bibliography" type="bibliography"/>
            <xs:element name="appendix" type="appendix"/>
            <xs:element name="annex" type="annex"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="publication">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>document</xd:p>
            </xd:section> Publication document <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Version</xd:title>
               <xd:p>Revision (No. 1) – Date: 2012-02-25 – Author: JC – Description: Removed abstract as per
                  the BC/TC agreement 05/02/2013. It was agreed that document abstracts would be managed in
                  the metadata-group.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="metadata-group" type="metadata-group"/>
            <xs:element name="foreword" type="foreword"/>
            <xs:element name="preface" type="preface"/>
            <xs:element name="executive-summary" type="executive-summary"/>
            <xs:element name="volume" type="volume"/>
            <xs:element name="part" type="part"/>
            <xs:element name="chapter" type="chapter"/>
            <xs:element name="section" type="section"/>
            <xs:element name="introduction" type="introduction"/>
            <xs:element name="glossary" type="glossary"/>
            <xs:element name="abbreviation-list" type="abbreviation-list"/>
            <xs:element name="bibliography" type="bibliography"/>
            <xs:element name="appendix" type="appendix"/>
            <xs:element name="annex" type="annex"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chapter">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic, publishing</xd:p>
            </xd:section> Chapter semantic publishing Notes A chapter is, in many ways, an extension of a
            section. However, chapters often have required features that cannot be represented as simple
            variants on a section. For example, they have abstracts. <xd:section
               xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>A chapter is the basic unit of published documents. Many official documents are chapters
                  in that they are combined to create publications, each document becoming a chapter of the
                  publication. A chapter may be the document itself, a standalone part of an official document
                  or simply a structural element within a document. </xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="abstract" type="abstract"/>
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="grp-nested-blocks" type="grp-nested-blocks"/>
            <xs:element name="bibliography" type="bibliography"/>
            <xs:element name="notes" type="notes"/>
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="introduction">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic, publishing</xd:p>
            </xd:section> Introduction semantic publishing <xd:section
               xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>28. An introduction shares an identical structural role to a chapter. However, there are
                  additional semantics. Conventionally, an introduction is considered part of the body of a
                  document in contrast to a preface or foreword, which is not.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="abstract" type="abstract"/>
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="grp-nested-blocks" type="grp-nested-blocks"/>
            <xs:element name="bibliography" type="bibliography"/>
            <xs:element name="notes" type="notes"/>
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="part">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic, publishing</xd:p>
            </xd:section> Part semantic publishing Definition A part is a high level section that sits,
            hierarchically, between documents (the book equivalent level) and chapter level material such as
            chapters themselves, appendices and prefaces. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mandate">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic, document</xd:p>
            </xd:section> Mandate semantic document </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recommendation">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Recommendation semantic </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="extract" type="extract"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appendix">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Appendix semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>Appendices are much the same as a chapter except that they have added semantic impact. An
                  appendix adds to or comments on the information contained in the main body of the
                  document.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annex">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Annex semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>Annexes are much the same as a chapter except that they have added semantic impact. They
                  have the same content model as appendicies although Annexes do not need to be
                  translated.</xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Revision History</xd:title>
               <xd:p>Revision (No. 1) – Date: 2013-02-06 – Author: JC – Description: Component added by ticket
                     <a xmlns="http://www.corbas.co.uk/ns/model"
                     href="https://pacps01.oecd.org/redmine/issues/5288">[#5288] </a>.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extract">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>structural, block</xd:p>
            </xd:section> Extract structural block <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>Extracts represent one of two related inter document relationships. The first of these is
                  embedding all or part of a document into the current document. This can range from a block
                  quote (one or more paragraphs of text from an externalsource) from legislation in an
                  official document to the inclusion of an entire official document as part of another
                  official document. The second is linking where the content is not included into the
                  reference document until the time at which it is rendered.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="metadata-group" type="metadata-group"/>
            <xs:element name="linked-content" type="linked-content"/>
            <xs:element name="foreign-content" type="foreign-content"/>
            <xs:element name="blockquote" type="blockquote"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstract">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Abstract semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>An abstract consists of paragraphs only. Semantically, it is a specialised type of
                  section.</xd:p>
               <xd:p>An abstract is found at the start of chapter like content (primarily articles and
                  chapters themselves). The abstract of documents created using the current CRC process may
                  contain name, address and signature information. We consider that this is a rendering
                  feature not an authoring feature and have not included it into this model.</xd:p>
               <xd:p>The modelling workshop could not reach a clear consensus on the detailed structure of an
                  abstract although it was agreed that it should only consist of paragraph text. The number of
                  paragraphs of text that could occur in an abstract could not be easily agreed. It was agreed
                  that authors should be consulted.</xd:p>
               <xd:p>During the first author workshop, it was made clear that an abstract should only consist
                  of one paragraph of text. However, it was agreed that it would be possible for more than one
                  to occur.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="paragraph-group" type="paragraph-group"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="executive-summary">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Executive Summary semantic <xd:section
               xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>An executive summary is currently only defined by word count (in the Style Guide). Most
                  executive summaries contain a paragraph for each major section of a document. The initial
                  sentence may need to be marked up as it is often a summary of the summary.</xd:p>
               <xd:p>Any simple block may appear in an executive summary although this is rare (ECO may need
                  graphs and tables)</xd:p>
               <xd:p>There is value in being able to identify and extract the executive summary.</xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>An executive summary always occurs as the beginning of a document if at all. It was
                  agreed in the modelling meeting that the semantic definition of an executive summary is
                  considerably simpler than the structural definition.</xd:p>
               <xd:p>OECD guidelines state that an executive summary should consist of headings and paragraph
                  text only. The modelling workshop felt that it might be wise to extend this to any block
                  component as it was felt that ECO might wish to include charts and tables in the executive
                  summary.</xd:p>
               <xd:p>The current OECD style guide suggests a maximum of 3000 words for an executive summary.
                  The first author interview (with authors from ENV) suggested that an executive summary could
                  be of considerable length (up to eight pages being relatively common). However, the authors
                  indicated that an executive summary would only ever contain headings and paragraph
                  text.</xd:p>
               <xd:p>For these reasons, we have currently modelled the executive summary as a type of
                  paragraph group.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foreword">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Foreword semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>Issue #4940</xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>Structurally a Foreword is identical to a Section.</xd:p>
               <xd:p>A Foreword situates a document or publication in the context of the Organisation’s
                  programme of work and briefly describes the background and purpose of the content.</xd:p>
               <xd:p>In a Publication the Foreword is placed on the third page.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preface">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Preface semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>Volumes/parts are in and of themselves documents - just different names - so vols and
                  parts may have prefaces too. Suggests that the model of a document should be more
                  flexible.</xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>A preface differs from an introduction in that it is not part of the primary narrative of
                  the document. A document may have more than one preface and each of those may have a
                  different author (who is unlikely to be the primary author of the document) as identified by
                  the modelling workshop.</xd:p>
               <xd:p>Structurally a preface is identical to a chapter.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conclusion">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Conclusion semantic </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="acknowledgement">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Acknowledgement semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>If acknowledgements of contributions and assistance in preparing a document or
                  publication are extensive, a separate acknowledgements and credits section can be created
                  with its own heading. This section can include refernces colleagues, including those
                  involved in the production of the document or publication, experts and others who
                  contributed ideas and assistance.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glossary">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic, structural</xd:p>
            </xd:section> Glossary semantic structural Notes Glossaries are term/definition lists. Governance
            or resource question: what glossaries can be made available to authors and what tuning/granularity
            is needed to make the use of them efficiently within a given subject area or directorate? Product
            question: is it possible to have business rules automatically applied for glossary candidates or
            acronym mistakes, etc.? </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abbreviation-list">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Abbrevation List semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>Need to consider abbreviation lists. Not only are they are a sort of glossary but they
                  could be generated automatically from several different sources (use a global repo to help
                  authors or even create the list from the contents of the document).</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="glossary" type="glossary"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bibliography">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Bibliography semantic Definition Bibliographic content will generally be represented
            by citation components at the inline level. However, it is clear that some documents contain
            bibliographic content that is not based on citations within the text. For this reason, the model
            contains a References component that contains MODS (The Library Of Congress, 2011) references.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="further-reading">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Further Reading semantic </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="bibliographic-entry" type="bibliographic-entry"/>
            <xs:element name="bibliography" type="bibliography"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bibliographic-entry">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Bibliographic Entry semantic </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="foreign-content" type="foreign-content"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chemical-formula">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic, inline, block</xd:p>
            </xd:section> Chemical Formula semantic inline block <xd:section
               xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>Need to work out more about these. We know they exist in documents but we don't know
                  anything about how they are generated - processed SMILES or CML or something else?</xd:p>
               <xd:p>The modelling workshop identified three potential models for chemical formulae. All three
                  of these are represented by the chemical formula component. We assume that one of the
                  alternatives will be used.</xd:p>
               <xd:p>Firstly, formulae may be represented using XML from the Chemical Markup Language schema.
                  Secondly, it may be represented as text conforming to the SMILES or OpenSMILES
                  specifications. Finally, it may be represented as a graphic.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="metadata-group" type="metadata-group"/>
            <xs:element name="index-term" type="index-term"/>
            <xs:element name="graphic" type="graphic"/>
            <xs:element name="foreign-content" type="foreign-content"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="equation">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic, inline, block</xd:p>
            </xd:section> Equation semantic inline block <xd:section
               xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>The equation element should be a wrapper allowing both graphical and textual (either
                  plain text or XML) representations within the same wrapper.</xd:p>
               <xd:p>Four possible models for equations were also identified. All of these are represented by
                  the equation component, any one of them being allowed within an equation element.</xd:p>
               <xd:p>Equations may be represented as simple text using Unicode characters to represent the
                  equation. Equations may also be represented as LaTeX content (this appears to be desired but
                  no conclusion has been made as to whether it is useful). Ideally, equations will be
                  represented as MathML mark-up. Ideally, content MathML should be used although presentation
                  MathML would be acceptable. Finally, equations may be represented as a graphic.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="metadata-group" type="metadata-group"/>
            <xs:element name="index-term" type="index-term"/>
            <xs:element name="graphic" type="graphic"/>
            <xs:element name="foreign-content" type="foreign-content"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Table block <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>Previous discussion suggests that we use the CALS table model and consider it defined.
                  The components here are simply to demonstrate the structure and see how it integrates into
                  the model - not a full (or even accurate) version of CALS.</xd:p>
               <xd:p>Tables are ubiquitous in OECD documents. Tables are currently modelled using a variant on
                  the CALS Table Model (OASIS, 2001). In order to ensure that tables in the new model are as
                  compatible as possible with existing uses and with application interchange requirements we
                  would suggest that the XML Exchange Table Model DTD (OASIS, 1999) be used as the OECD table
                  model.</xd:p>
               <xd:p>This was discussed in both the technical workshop (Corbas Consulting, 2011) and the
                  modelling workshops and agreed as the basis for the model. The OASIS XML Exchange Model
                  schema will be imported into the model within a wrapper element.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="title" type="title"/>
            <xs:element name="table-head" type="table-head"/>
            <xs:element name="table-body" type="table-body"/>
            <xs:element name="table-foot" type="table-foot"/>
            <xs:element name="notes" type="notes"/>
            <xs:element name="annotation" type="annotation"/>
            <xs:element name="metadata-group" type="metadata-group"/>
            <xs:element name="index-term" type="index-term"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table-head">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Table Head block </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="table-rows" type="table-rows"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table-body">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Table Body block </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="table-rows" type="table-rows"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table-foot">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Table Foot block </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="table-rows" type="table-rows"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table-rows">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Table Rows block </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="table-data" type="table-data"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table-data">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Table Data block </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-blocks" type="grp-simple-blocks"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notes">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Notes block Notes Initially thought of as table notes. However, the component seems
            more generic than that. We need to ask authors about the content of notes. Is it just paragraph
            text or is there more? Do we need to make detailed distinctions about the meaning of zero valued
            notes for ECO? <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>The modelling workshop identified that certain components (tables and figures especially)
                  can contain arbitrary notes. We proposed a notes component to handle these notes. There is
                  no apparent reason to restrict this model to tables and figures. Therefore, we have created
                  this component as a standard block model in order to provide maximum flexibility.</xd:p>
               <xd:p>The component consists of a wrapper and individual notes. Notes may contains any simple
                  block structure such as paragraphs and tables.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="simple-para" type="simple-para"/>
            <xs:element name="metadata-group" type="metadata-group"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>structural, publishing</xd:p>
            </xd:section> Section structural publishing <xd:section
               xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>Sections are the primary structural component of structured documents. Most of the
                  semantic structures are specialised types of sections. Sections may be nested arbitrarily
                  deeply. Heading levels are then defined purely by section nesting. </xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p> A section is the basic structural component of all OECD.Author documents. </xd:p>
               <xd:p>The modelling workshop defined a section as a hierarchical component of a document with a
                  title and text that could be considered a child. Sections may contain other sections and all
                  block content. </xd:p>
               <xd:p> In order to avoid ambiguity this model allows block content to occur in a section until
                  the first sub section is created. Following that point, only subsections may be created.
                  This ensures that the document model does not become ambiguous. </xd:p>
               <xd:p> Components and models derived from the basic section will often add additional
                  constraints to this model. Models defined by metadata area unlikely to add constraints
                  whereas publishing models such as chapters and parts will almost always do so.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="title" type="title"/>
            <xs:element name="grp-nested-blocks" type="grp-nested-blocks"/>
            <xs:element name="annotation" type="annotation"/>
            <xs:element name="index-term" type="index-term"/>
            <xs:element name="metadata-group" type="metadata-group"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sidebar">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>structural</xd:p>
            </xd:section> Sidebar structural <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>Restricted content that can be placed out of the normal flow of text but is related to
                  the current part of the flow.</xd:p>
            </xd:section> Log Change Log Revision (No. 0.1) – Date: 2012-04-02 – OECD joseph.crowther@oecd.org
            Description: Removed Sidebar from catalogue </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-blocks" type="grp-simple-blocks"/>
            <xs:element name="metadata-group" type="metadata-group"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotation">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>structural</xd:p>
            </xd:section> Annotation structural <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>Content that annotates another element. Normally block level elements such as paragraphs
                  and tables.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="simple-para" type="simple-para"/>
            <xs:element name="metadata-group" type="metadata-group"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="box">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>structural</xd:p>
            </xd:section> Box structural <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>Boxed content. Can contain almost any other content. Sits in the flow of the document
                  much like a section.</xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>This component has an unusual role in the model. The content model for a box is that of a
                  section. However, the box itself fulfils a similar role to a paragraph. For this reason,
                  after consultation with authors we have decided to treat it as a block component not a
                  structural one.</xd:p>
               <xd:p>Boxes are set off from the text in some way (usually by formatting with a border around
                  it). When rendered to print the box location can be changed slightly for best
                  presentation.</xd:p>
               <xd:p>Boxes have nested sections with semantic headings, if they are considered as a section
                  the section is to group all subsections and allow for notes, footnotes and sources dedicated
                  to the high level section.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-nested-blocks" type="grp-nested-blocks"/>
            <xs:element name="metadata-group" type="metadata-group"/>
            <xs:element name="index-term" type="index-term"/>
            <xs:element name="section" type="section"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="title">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Title block </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-inlines" type="grp-simple-inlines"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subtitle">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Subtitle block </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-inlines" type="grp-simple-inlines"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="short-title">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>inline</xd:p>
            </xd:section> Short Title inline Definition Used to store the abbreviated title of a component
            (text only). </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-inlines" type="grp-simple-inlines"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="phrase">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>inline, semantic</xd:p>
            </xd:section> Phrase inline semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>The semantic tags on inline content must be defined in as optional. When used they should
                  associate taxonomies with text. </xd:p>
            </xd:section> Source The semantic tags on inline content must be defined in as optional. When used
            they should associate taxonomies with text. <xd:section
               xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>The semantic tag component allows a word or phrase to refer to metadata. We do not
                  envisage that metadata will be stored directly within this element – it should be stored out
                  of line in the same XML document and referenced from the phrase being described.</xd:p>
            </xd:section> Narrdoc N/A </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-inlines" type="grp-simple-inlines"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formatting-tag">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>inline</xd:p>
            </xd:section> Formatting Tag inline <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>Any simple formatting (italicisation without any particular semantic load for
                  example).</xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>Semantic models of text normally do not provide any way of indicating formatting. The new
                  OECD.Author model must provide some way to indicate simple inline formatting requirements
                  because the current AE2007 environment allows it. Therefore, the modelling workshop agreed
                  that some sort of simple formatting must be allowed.</xd:p>
               <xd:p>No decision on the implementation of this component has been decided. As formatting
                  options are in many ways open ended, we suggest that a single formatting element would be
                  advisable with the precise requested rendering indicated via properties (defined by a set of
                  values taken from an enumerated list)</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-inlines" type="grp-simple-inlines"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Index semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>An index is simply a placeholder to indicate the desired rendering location for index
                  terms.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index-term">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>inline, semantic</xd:p>
            </xd:section> Index Term inline semantic <xd:section
               xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>This is likely to be a heavily structured inline element. We need to consider how many
                  levels of index should be available. We also need to consider how multiple index axes should
                  be represented. However, neither of these is a major modelling issue.</xd:p>
               <xd:p>If information can be retrieved from content about the depth of existing indices this
                  would be very useful.</xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>Indexes must be created from the content rather than the typeset pages. This separates
                  the concepts of indexing from the requirements of printing. Therefore, the modelling
                  workshop agreed model whereby words or phrases that are to be indexed should be indicated
                  within the XML text.</xd:p>
               <xd:p>The model has taken the approach used by the DocBook project as the basis for the index
                  model. This allows for three levels of index term, alternates (“see Other Concept”) and
                  additional information (“see also Other Concept”).</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-inlines" type="grp-simple-inlines"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="citation">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>inline, semantic</xd:p>
            </xd:section> Citation inline semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>The modelling workshop agreed that, in general, citation content should be stored out of
                  line of the text, holding only a reference to the bibliographic data itself. It was agreed
                  that bibliographic data should be stored in the Library of Congress MODS format (The Library
                  Of Congress, 2011). Citations will store a reference to a bibliographic entry. In initial
                  implementations all bibliographic entries will be stored in the document itself. It is
                  envisaged that web services will be provide a look-up mechanism to provide consistency in
                  future implementations.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footnote">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>inline, semantic</xd:p>
            </xd:section> Footnote inline semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>Footnotes are to be stored inline at the point of first reference. A footnote may contain
                  paragraph text only. This allows footnote rendering to be under the total control of the
                  output mechanisms since no rendering assumptions are made. Footnotes must be identifiable to
                  ensure that a single footnote may be referenced more than once. Footnotes are the only
                  inline model that may contain paragraph content.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="simple-para" type="simple-para"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="link">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>inline, semantic</xd:p>
            </xd:section> Link inline semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>We need to handle two types of link. Firstly, we need to be able reference hyperlinked
                  content. Secondly, we need to represent a reference to another OECD document or location
                  within an OECD document.</xd:p>
               <xd:p>Beyond scope but… We should consider how we identify content and how we generate URLs to
                  reference content. Consider using DOIs for this purpose as this is what they were designed
                  for. DOIs cost when you register them so creating DOIs without a registration does not incur
                  a cost.</xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>The link component is intended to act as a semantic placeholder for almost all types of
                  link. Footnotes and citations are handled separately but otherwise, the link component
                  represents both internal and external references. Clearly, this may not be the case at
                  implementation level.</xd:p>
               <xd:p>The OECD preference for the use of open standards and existing models suggests that the
                  appropriate model for link mark-up should be the XLink specification (W3C, 2010). XLink is
                  possibly not an appropriate model for internal links as it requires the linked resource to
                  be referenced as an IRI. A different model may be required for internal link mark-up.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-inlines" type="grp-simple-inlines"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subscript">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>inline</xd:p>
            </xd:section> Subscript inline </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="superscript">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>inline</xd:p>
            </xd:section> Superscript inline </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="acronym">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>inline</xd:p>
            </xd:section> Acronym inline </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formal-para">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Formal Paragraph block Definition Formal paragraphs are simply standard paragraphs
            with a title. They can occur in almost all contexts where a standard paragraph may occur.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="grp-simple-inlines" type="grp-simple-inlines"/>
            <xs:element name="annotation" type="annotation"/>
            <xs:element name="metadata-group" type="metadata-group"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paragraph-group">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Paragraph Group block Definition Paragraph groups have been included in the model as
            a result of the document analysis process. A paragraph group consists of a set of related
            paragraphs of text with an optional heading. Paragraph groups are an appropriate way to model much
            legal content as well as being a base for other types. Paragraphs are the basic components for
            almost all content. We intend to introduce a model that allows mixed content . The initial model
            will not define the elements that may occur within a paragraph. The model defines a component type
            of 'Inline Components'. Any number (including zero) of inline components are valid within a
            paragraph. Paragraphs may occur in almost any context. Equally, almost any block may occur in the
            same context as a paragraph. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="simple-para" type="simple-para"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simple-para">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Paragraph block Definition Simple paragraphs are simply standard paragraphs without
            a title. They can occur in almost all contexts where a standard paragraph may occur.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-inlines" type="grp-simple-inlines"/>
            <xs:element name="annotation" type="annotation"/>
            <xs:element name="metadata-group" type="metadata-group"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blockquote">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Block Quote block <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>Foreign content such as quotation added as native part of the current document.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-blocks" type="grp-simple-blocks"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemized-list">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Itemized List block Notes An itemized list has a single marker used for all elements
            within that list. As with ordered lists the AE2007 environment places a rigid constraint on the
            depth of the list. This constraint is relaxed in the model as above. Rendering rules for markers
            are applied exactly as above. <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>An itemized list has a single marker used for all elements within that list. As with
                  ordered lists the AE2007 environment places a rigid constraint on the depth of the list.
                  This constraint is relaxed in the model as above.</xd:p>
               <xd:p>Rendering rules for markers are applied exactly as above.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="list-item" type="list-item"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="definition-list">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Definition List semantic <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>A definition list is a series of terms and definitions. This is often used to define
                  lists of abbreviations or to explain jargon. It can be seen as a simple glossary. The term
                  part of a definition list is a simple phrase and contains only inline content. The
                  definition part of a definition list follows the standard list item definition above.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="definition-list-entry" type="definition-list-entry"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="definition-list-entry">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Definition List Entry semantic </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="term" type="term"/>
            <xs:element name="definition" type="definition"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="term">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Term semantic </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-inlines" type="grp-simple-inlines"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="definition">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Definition semantic </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-inlines" type="grp-simple-inlines"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordered-list">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Ordered List block <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>An ordered list consists of a number of items with an incrementing counter of some sort
                  (not necessarily numeric). Rendering can either be defined by a style guide or chosen by a
                  user.</xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>An ordered list has markers associated with each item that increment from one item to the
                  next. AE2007 places rigid constrains on rendering of lists limiting the user to four styles
                  and a maximum depth of five. There is no obvious reason for the limitation (and the document
                  analysis found that the maximum depth in the sample was six – achieved using a standard Word
                  list).</xd:p>
               <xd:p>The model will support and unlimited nesting depth for lists. Business rules will be
                  applied at the document type level to restrict this if required.</xd:p>
               <xd:p>The rendering form for list markers needs to be represented in the model. In order to
                  encourage consistency, a default style should be presented (managed at the document type
                  level). Style hint information such as this must be inherited through the model. This
                  implies that style metadata can be applied at multiple locations and used as
                  appropriate.</xd:p>
               <xd:p>Ordered lists must be able to restart numbering from the immediately preceding list at
                  the same hierarchical level.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="list-item" type="list-item"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list-item">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> List Item block <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>List content can be fairly broad. In OECD documents there appears to be no clear
                  distinction between numbered sections and paragraphs and lists. This distinction may need to
                  be created in an arbitrary manner.</xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>As is conventional, we have assumed that lists of both types will have identical content
                  models. The list items can contain most of the paragraph equivalent blocks. In particular,
                  list items may contain lists.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="grp-simple-blocks" type="grp-simple-blocks"/>
            <xs:element name="annotation" type="annotation"/>
            <xs:element name="metadata-group" type="metadata-group"/>
            <xs:element name="index-term" type="index-term"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="figure">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block</xd:p>
            </xd:section> Figure block <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>A figure is a graphic with a title and potentially notes. In OECD terms, a chart is a
                  figure. </xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>A figure was defined in the modelling workshop as a graphic with additional semantics and
                  content. The most important feature of a figure is the concept that it is a graphical
                  representation of data. As such figures may contain metadata defining the data source
                  (internal data source, external attributions, etc).</xd:p>
               <xd:p>Additionally, figures may have sources (recorded via metadata), footnotes, explanatory
                  notes and titles.</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="graphic" type="graphic"/>
            <xs:element name="notes" type="notes"/>
            <xs:element name="annotation" type="annotation"/>
            <xs:element name="metadata-group" type="metadata-group"/>
            <xs:element name="index-term" type="index-term"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="graphic">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>block, inline</xd:p>
            </xd:section> Graphic block inline <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Notes</xd:title>
               <xd:p>A graphic is simply a container for a referenced image. Images could be bitmaps, EPS
                  referencess, references to SVG or even embedded image data.</xd:p>
            </xd:section>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Definition</xd:title>
               <xd:p>A graphic represents an external image and metadata about that image. An image may be a
                  reference to external content such as a graphic file or it may be SVG (W3C, 2011) content.
                  The metadata for a graphic includes source information and should normally be
                  required.</xd:p>
               <xd:p>Graphic definitions defined by STD are: Chart, Bar, Scatter, Plot, Spider, Deformed Plot
                  (supplied by David Brackfield)</xd:p>
            </xd:section>
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="metadata-group" type="metadata-group"/>
            <xs:element name="foreign-content" type="foreign-content"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="document-list">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Document List semantic Definition Document Lists are defined for use in agendas
            although there is no requirement that this be the case. Agenda items may have associated documents
            (official documents, room documents or almost any other document). When an agenda is annotated
            actions may be associated with those documents. The Document List contains one or more Document
            Reference components. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="document-reference" type="document-reference"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="document-reference">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Document Reference semantic Definition A Document Reference is a simplified
            citation. It contains a COTE or a document title only. In addition an Action component is allowed
            in order to represent an action to be taken on that reference. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="linked-content" type="linked-content"/>
            <xs:element name="cote" type="cote"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cote">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Cote semantic </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="metadata-item" type="metadata-item"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metadata-group">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Metadata Group semantic </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="metadata-item" type="metadata-item"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metadata-item">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Metadata Item semantic Definition The metadata model has not yet been fully defined.
            Currently, we are assuming that the model will use some as yet undecided representation of RDF
            (W3C, 2004). Metadata content will be represented using a mixture of well-known vocabularies such
            as Dublin Core (Dublin Core Metadata Initiative), MODS (The Library Of Congress, 2011) and FOAF
            (The Friend of a Friend Project) along with taxonomies created by the OECD. Metadata may be stored
            directly with the object being described or may be referenced. Direct metadata will be stored as a
            group of metadata items. Referenced metadata will be stored in the same XML file but will not be
            stored as a child of the object being described. The metadata will still be stored as a group of
            metadata items but will be referenced via an identifier attribute. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="duration">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Duration semantic Definition A Duration component is simply a period of time.
            Currently, the model allows these in two locations – as simple inlines and as part of the metadata
            for an agenda item. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="metadata-item" type="metadata-item"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="date-time">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> DateTime semantic Definition A DateTime component allows a time and a date to be
            indicated in text. None of the semantics of a date are intended to represented, merely the
            indication that the text represents a date an/or time. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="metadata-item" type="metadata-item"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foreign-content">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Foreign Content semantic Notes Content from an external source actually embedded
            into the document Implemented as Extracts in XML schema. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="linked-content">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Linked Content semantic Notes Content from an external source referenced by the
            document Implemented as Extracts in XML schema. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grp-nested-blocks">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p/>
            </xd:section> Nested Blocks Definition Most of the content of any document consists of blocks of
            text. Block models represent that various ways of structuring these blocks of text. Semantically,
            most of the blocks are interchangeable. One of the major determinants when deciding a component
            should be considered a structural or block model is the answer to the question "Can this component
            contain other structural components?" If this is not the case, we consider it a block model. The
            distinction can be difficult at the border between the two. Another question to be asked is "Can
            this component be replaced by another without destroying the structure of the document?" If this
            is the case, we consider it a block model. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-blocks" type="grp-simple-blocks"/>
            <xs:element name="table" type="table"/>
            <xs:element name="section" type="section"/>
            <xs:element name="box" type="box"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grp-note">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p/>
            </xd:section> Note Block Definition The notes model was defined originally as specific table or
            chart notes by the modelling workshop. Nic Gibson has proposed that the model is generalised to
            represent any block note group without the particular semantics of a footnote (or endnote). The
            modelling workshop identified that certain components (tables and figures especially) can contain
            arbitrary notes. We proposed a notes component to handle these notes. There is no apparent reason
            to restrict this model to tables and figures. Therefore, we have created this component as a
            standard block model in order to provide maximum flexibility. The component consists of a wrapper
            and individual notes. Notes may contains any simple block structure such as paragraphs and tables.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="footnote" type="footnote"/>
            <xs:element name="simple-para" type="simple-para"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grp-simple-blocks">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p/>
            </xd:section> Simple Blocks </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="simple-para" type="simple-para"/>
            <xs:element name="paragraph-group" type="paragraph-group"/>
            <xs:element name="ordered-list" type="ordered-list"/>
            <xs:element name="itemized-list" type="itemized-list"/>
            <xs:element name="figure" type="figure"/>
            <xs:element name="graphic" type="graphic"/>
            <xs:element name="extract" type="extract"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grp-simple-inlines">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p/>
            </xd:section> Simple Inlines </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="chemical-formula" type="chemical-formula"/>
            <xs:element name="equation" type="equation"/>
            <xs:element name="phrase" type="phrase"/>
            <xs:element name="formatting-tag" type="formatting-tag"/>
            <xs:element name="index-term" type="index-term"/>
            <xs:element name="footnote" type="footnote"/>
            <xs:element name="citation" type="citation"/>
            <xs:element name="link" type="link"/>
            <xs:element name="acronym" type="acronym"/>
            <xs:element name="superscript" type="superscript"/>
            <xs:element name="subscript" type="subscript"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grp-titles">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p/>
            </xd:section> Title Group </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="title" type="title"/>
            <xs:element name="subtitle" type="subtitle"/>
            <xs:element name="short-title" type="short-title"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agenda">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Agenda semantic Definition An agenda consists of text plus a list of agenda items
            divided into sessions. All agendas consist of at least one session. A large proportion of the
            Basic textual information is also used in introductory materials and in the sections that an
            agenda may be divided into. Annotations can be provided. There are, within the OECD, many ways to
            render annotations. The model treats annotations as associated with the items although they may be
            rendered as a final section. An annotated agenda is defined as an agenda where one or more items
            have annotations. A complex agenda is defined as one where more than one session exists. Revision
            (No. 2) – Date: 2012-10-25 – Author: NG – Agendas have had a complete redesign since the initial
            version included in the document modelling report. There are two reasons for this rewrite.
            Firstly, further analysis of the initial modelling suggested that the model had been
            overcomplicated by the creation of simple and complex agenda models. A simple agenda be viewed as
            a complex agenda with one session only. Therefore, there is no need for the disction. Secondly,
            analysis of further documents has indicated that agendas require additional structure (a section
            analogue) and that annotation can be applied at any time. We have additionally discovered agendas
            with unexpected features such as abstracts. These have been added to the component structure.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="abstract" type="abstract"/>
            <xs:element name="grp-simple-blocks" type="grp-simple-blocks"/>
            <xs:element name="agenda-section" type="agenda-section"/>
            <xs:element name="agenda-session" type="agenda-session"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agenda-section">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic, structural</xd:p>
            </xd:section> Agenda Section semantic structural Definition An agenda section provides a degree of
            structure to agendas. There is no apparent reason to have deeply nested sections such as occur in
            narrative documents but agendas have been seen to have some structural features. Therefore, we
            have not implemented nesting for agenda sections. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="grp-simple-blocks" type="grp-simple-blocks"/>
            <xs:element name="agenda-session" type="agenda-session"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agenda-item">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Agenda Item semantic Definition An agenda item component represents a single item in
            an agenda. In the initial OECD agendas, it generally consists of a title along with some metadata
            and an optional Document List component. When an annotated agenda is created additional textual
            information can be added to the item. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="simple-para" type="simple-para"/>
            <xs:element name="document-list" type="document-list"/>
            <xs:element name="agenda-annotation" type="agenda-annotation"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agenda-annotation">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Agenda Annotation semantic Definition An agenda annotation component represents the
            textual annotations that can be added to any agenda item at any time. The annotation can consist
            of any of the simple block components. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="grp-simple-blocks" type="grp-simple-blocks"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agenda-session">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Agenda Session semantic Definition An agenda session represents a group of agenda
            items grouped together with a title and optional session specific metadata. Initially identified
            metadata includes time, location and duration. Sessions often have introductory text. Agendas with
            one session only can be considered to be semantically equal to agendas with no sessions.
            Therefore, there is no model for a simple agenda. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-titles" type="grp-titles"/>
            <xs:element name="grp-simple-blocks" type="grp-simple-blocks"/>
            <xs:element name="agenda-item" type="agenda-item"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Comment semantic Definition A comment by a user within a document. Used during
            revision and editorial processes. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="grp-simple-inlines" type="grp-simple-inlines"/>
            <xs:element name="metadata-group" type="metadata-group"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="revision">
      <xs:annotation>
         <xs:documentation>
            <xd:section xmlns:xd="http://www.oecd.org/ns/schema/xdocs">
               <xd:title>Categories</xd:title>
               <xd:p>semantic</xd:p>
            </xd:section> Revision semantic Definition A document revision. Used to mark the range of a
            deletion or insertion. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
