model/components/graphics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:svg="http://www.w3.org/2000/svg">
    
    
    <xs:annotation>
        <xs:documentation xmlns:html="http://wwww.w3.org/1999/xhtml">
            <html:h1>OECD Schemas</html:h1>
            <html:h2>Graphic Models</html:h2>
            <table xmlns="http://www.w3.org/1999/xhtml">
                <caption>Change Log</caption>
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Date</th>
                        <th>Author</th>
                        <th>Changes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0.1</td>
                        <td>2011-12-02</td>
                        <td><a href="mailto:nicg@corbas.co.uk">Nic Gibson</a></td>
                        <td>Initial Version</td>
                    </tr>
                </tbody>
            </table>
        </xs:documentation>
    </xs:annotation>
    
    <!-- INCLUDES AND IMPORTS -->

    <xs:include schemaLocation="attributes.xsd"/>    
    <xs:include schemaLocation="types.xsd"/>
    <xs:include schemaLocation="meta.xsd"/>
    <xs:include schemaLocation="titles.xsd"/>
    <xs:include schemaLocation="notes.xsd"/>
    <xs:include schemaLocation="attribution.xsd"/>
    
        
    <!-- GLOBAL ELEMENTS -->
    <xs:element name="externalGraphic" type="oecdExternalGraphicType"/>
    <xs:element name="svgGraphic" type="oecdSvgGraphicType"/>
    
    <xs:element name="inlineGraphic" type="oecdInlineGraphicType"/>
    <xs:element name="graphic" type="oecdBlockGraphicType"/>
    
    <xs:element name="figure" type='oecdFigureType'/>
    
    <!-- GLOBAL GROUPS -->
    <xs:group name="oecdGraphicsGroup">
        <xs:choice>
            <xs:element ref="externalGraphic"/>
            <xs:element ref="svgGraphic"/>
        </xs:choice>
    </xs:group>
       

    <!-- Graphic Object -->
    <xs:complexType name="oecdGraphicType" >
        <xs:sequence>
            <xs:element ref="metadata" minOccurs="0"/>            
        </xs:sequence>
    </xs:complexType>
    
    <!-- External Graphic References -->
    
    <xs:attributeGroup name="oecdExternalGraphicTypeAttributes">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Attributes for external graphics. Grouped to allow easy override.</p>
                </div>
            </xs:documentation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <h3>TODO</h3>
                    <p>Schematron required to ensure that at least one appropriate attribute is set.</p>
                </div>                
            </xs:documentation>
        </xs:annotation>    
        <xs:attributeGroup ref="oecdCommonAttributes"/>
        <xs:attributeGroup ref="oecdLinkingAttributes"/>
        <xs:attribute ref="mediaType"/>
    </xs:attributeGroup>
    
    <xs:group name="oecdExternalGraphicTypeContent">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Content for external graphics. Grouped to allow easy override.</p>
                </div>
            </xs:documentation>
          </xs:annotation>
        <xs:sequence>
            <xs:element ref="metadata" minOccurs="0"/>
        </xs:sequence>
    </xs:group>
    
        
    <xs:complexType name="oecdExternalGraphicType">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>External graphic reference. The graphic reference is an attribute. 
                    Only metadata content is allowed.</p>
                </div>
            </xs:documentation>
        </xs:annotation>
        <xs:group ref="oecdExternalGraphicTypeContent"/>
        <xs:attributeGroup ref="oecdExternalGraphicTypeAttributes"/>
    </xs:complexType>
    
    <!-- svg graphic -->
    <xs:attributeGroup name="oecdSvgGraphicTypeAttributes">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Attributes for SVG graphics. Grouped to allow easy override.</p>
                </div>
            </xs:documentation>
        </xs:annotation>    
        <xs:attributeGroup ref="oecdCommonAttributes"/>
        <xs:attributeGroup ref="oecdLinkingAttributes"/>        
    </xs:attributeGroup>
    
    <xs:group name="oecdSvgGraphicTypeContent">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Content for SVG graphics. Grouped to allow easy override.</p>
                </div>
            </xs:documentation>
        </xs:annotation>       
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/svg"/>
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="oecdSvgGraphicType">
        <xs:annotation>
            <xs:documentation>            
                <div xmlns="http://www.w3.org/1999/xhtml">
                <p>Wrapper for SVG graphics.</p>
            </div>
            </xs:documentation>        
        </xs:annotation>
        <xs:group ref="oecdSvgGraphicTypeContent"/>
        <xs:attributeGroup ref="oecdSvgGraphicTypeAttributes"/>
    </xs:complexType>
    
    <!-- block graphics -->
    <xs:attributeGroup name="oecdBlockGraphicTypeAttributes">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Attributes for block graphics. Grouped to allow easy override.</p>
                </div>
            </xs:documentation>
        </xs:annotation>    
        <xs:attributeGroup ref="oecdCommonAttributes"/>
        <xs:attributeGroup ref="oecdLinkingAttributes"/>        
    </xs:attributeGroup>
    
    <xs:group name="oecdBlockGraphicTypeContent">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Content for block graphics. Grouped to allow easy override.</p>
                </div>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="metadata" minOccurs="0"/>
            <xs:group ref="oecdTitleGroup" minOccurs="0"/>
            <xs:element ref="caption" minOccurs="0"/>
            <xs:element ref="attribution" minOccurs="0"/>         
            <xs:group ref="oecdGraphicsGroup"/>
            <xs:element ref="notes" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="oecdBlockGraphicType">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Block graphic type.</p>
                </div>
            </xs:documentation>
        </xs:annotation>
        <xs:group ref="oecdBlockGraphicTypeContent"/>
        <xs:attributeGroup ref="oecdBlockGraphicTypeAttributes"/>
    </xs:complexType>
    
    <!-- inline graphics -->
    
    <xs:attributeGroup name="oecdInlineGraphicTypeAttributes">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Attributes for inline graphics. Grouped to allow easy override.</p>
                </div>
            </xs:documentation>
        </xs:annotation>    
        <xs:attributeGroup ref="oecdCommonAttributes"/>
        <xs:attributeGroup ref="oecdLinkingAttributes"/>        
    </xs:attributeGroup>
    
    <xs:group name="oecdInlineGraphicTypeContent">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Content for inline graphics. Grouped to allow easy override.</p>
                </div>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="metadata" minOccurs="0"/>
            <xs:element ref="attribution" minOccurs="0"/>         
            <xs:group ref="oecdGraphicsGroup"/>
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="oecdInlineGraphicType">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Block graphic type. This has a considerably more restricted model than a block graphic.</p>
                </div>
            </xs:documentation>
        </xs:annotation>
        <xs:group ref="oecdInlineGraphicTypeContent"/>
        <xs:attributeGroup ref="oecdInlineGraphicTypeAttributes"/>
    </xs:complexType>   
    
    <!-- figures -->
    
    <xs:attributeGroup name="oecdFigureTypeAttributes">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Attributes for figures. Grouped to allow easy override.</p>
                </div>
            </xs:documentation>
        </xs:annotation>    
        <xs:attributeGroup ref="oecdCommonAttributes"/>
        <xs:attributeGroup ref="oecdLinkingAttributes"/>        
    </xs:attributeGroup>
    
    <xs:group name="oecdFigureTypeContent">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Content for figures. Grouped to allow easy override.</p>
                </div>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="metadata" minOccurs="0"/>
            <xs:group ref="oecdTitleGroup" minOccurs="0"/>
            <xs:element ref="graphic"/>
            <xs:element ref="notes" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="oecdFigureType">
        <xs:annotation>
            <xs:documentation>
                <div xmlns="http://www.w3.org/1999/xhtml">
                    <p>Figure Type. Figures are essentially wrappers around block graphics
                    allowing titles and notes to be added.</p>
                </div>
            </xs:documentation>
        </xs:annotation>
        <xs:group ref="oecdFigureTypeContent"/>
        <xs:attributeGroup ref="oecdFigureTypeAttributes"/>
    </xs:complexType>   
    

</xs:schema>
